body {
	background:
	-webkit-repeating-linear-gradient(120deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 0px, transparent 1px, transparent 60px),
	-webkit-repeating-linear-gradient(30deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(120deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 0px, transparent 1px, transparent 60px),
	repeating-linear-gradient(30deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 1px, transparent 1px, transparent 60px),
	-moz-repeating-linear-gradient(120deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 0px, transparent 1px, transparent 60px),
	-moz-repeating-linear-gradient(30deg, rgba(204,200,171,.1), rgba(204,200,171,.1) 1px, transparent 1px, transparent 60px);
	background-size: 3000px 2000px;
	background-color: #FFFAEF;
	font-family: "OpenSansRegular", "Helvetica", sans-serif;
	font-size: 1.3em;
	line-height: 1.4em;
	letter-spacing: 0.05em;
}

div.wrapper {
	margin: 25px 50px;
}

.circle {
	background-color: rgba(0,0,0,0.8);
	border-radius: 150px;
	width: 300px;
	height: 300px;
	-moz-transition:background-color 1s linear;
	-webkit-transition:background-color 1s linear;
	transition:background-color 1s linear;

}

.circle:hover {
	background-color: rgba(0,0,0,1);
}

.circle p {
	font-size: 2em;
	font-family: "OpenSansLight", "Helvetica", sans-serif;
	text-shadow: black 1px 1px;
	color: white;
	position: relative;
	top: 130px;
	left: 55px;
}

aside nav {
	letter-spacing: 0em;
	color: #fff;
	background: rgba(0,0,0, 0.9);
	padding: 20px;
	border: 1px dashed black;
	float: right;
	width: 150px;
	height: 200px;
	margin-right: 2%;
	font-size: 0.7em;
	position: fixed;
	right: 2%;
}

aside nav ul li {
	list-style-type: circle;
}

aside nav ul li:hover {
	color: #8494B2;
}
::selection {
		background: #ffb7b7; /* Safari */
	}

	::-moz-selection {
		background: rgba(150,0,0,0.4); /* Safari */
	}



.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

article {
		position: relative;
	margin: 0;
	width: 100%;
	height: 600px;
}
#header, #intro, #second{
	width: 100%;
}

#intro{
	background-color: white;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}

#titre1 {
	margin: 80px auto 0;
	width: 1050px;
	position: relative;
	z-index: 99;
}

#title2 {
	margin: 80px auto 0;
	width: 1050px;
	position: relative;
	z-index: 99;
}
