/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
/* Colors */
$hier: #fbbb27;
$aujourdhui: #e64552;
$demain: #42c1c7;
$old_demain: #3fa9f5;
$faux_noir: #181818;
$text: #8d8a82;
$background: #FFF3DF;


/* HTML Generic */
html, body {
	height:100%;
	width:100%;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	letter-spacing: 0.05em;
	background-color: #FFF3DF;
	background-image:url('../img/background_pattern.gif');
}

div.wrapper {
//	width: 100%;
   width: 85%;
	height: 100%;
}

::selection {
	background: #ffb7b7; /* Safari */
}

::-moz-selection {
	background: rgba(150,0,0,0.4); /* Safari */
}

/* Links */
a, a:hover, a:active, a:visited, a:link {
	color: #696969;
	text-decoration: none;
	border-bottom: 1px solid #696969;
}

section {
	margin: 0 0 10% 0;
}

.placeholder {
	background-color: slategray;
	color: white;
	border: 2px dotted black;
}

/* Headings */
h1,h2,h3,h4,h5 {
	font-family: "BebasRegular";
	letter-spacing: 0.09em;
	line-height: 1em;
	font-weight: 400;
//	text-shadow: 2px 2px 0px rgba(171, 168, 160, 0.6);
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin-left: 35%;
    margin-right: 35%;
}

.full {
	width: 100% !important;
	float: none !important;
}

/* Site title */
h1 { 
	font-size: 3.85em;	/* 41pt */
}

/* Articles Generic */
div.articles {
	color: #696969;

	margin-left: auto;
    margin-right: auto;
    width: 960px;

	article {
		width: auto;
		height: 100%;
		-webkit-background-size: cover; /* pour Chrome et Safari */
	  	-moz-background-size: cover; /* pour Firefox */
	  	-o-background-size: cover; /* pour Opera */
	  	background-size: cover; /* version standardisée */
	  	padding-top: 40px;
//	  	margin-left: 4%;
		.content {
		}
	}
}

div#linecut {
	background-color: $aujourdhui;
	z-index: 99;
	width: 141px;
	height: 3px;
	margin-bottom: 30px;
}

.sep {
	background: url('../img/bg_separator.png') center center no-repeat;
	width: 955px;
	height: 18px;
	margin: 80px 15% 60px;
}

div.time_bubble {
	width: 172px;
	height: 118px;
	display: inline-block;
	background-image:url('../img/time_bubble2.png');
	vertical-align: top;
	background-repeat: no-repeat;

	span#year {
		color: #FFFFFF;
	    font-family: "BebasRegular";
	    font-size: 1.9em;
	    font-weight: 400;
	    left: 31px;
	    position: relative;
	    top: 46px;
	    z-index: 98;
	}
	div#line {
		background-color: $faux_noir;
	    display: inline-block;
	    height: 3px;
	    left: -27px;
	    position: relative;
	    top: 36px;
	    width: 70px;
	    z-index: 99;
	}
}

header {
	background-color: #FFF3DF;
	h1 {
		font-size: 4.35em;
		margin: 20px 0;
		display: inline-block;
		letter-spacing: 0.015em;
	    word-spacing: 0.25em;
	}
	h2	 {
		font-size: 4.35em;
		margin: 20px 0;
		display: inline-block;
		letter-spacing: 0.015em;
	    word-spacing: 0.25em;
	}
	h3	 {
		font-size: 4.35em;
		margin: 20px 0;
		display: inline-block;
		letter-spacing: 0.015em;
	    word-spacing: 0.25em;
	}
	span {
		font-size: 1.35em;
		font-weight: 700;
		color: black;
	}
	span.baseline {
		display: inline-block;
		margin-left: 175px;
	}
	span.title {
		color: black;
		display: block;
		font-size: 1.3em;
		font-weight: 700;
		padding-bottom: 10px;
	}
}



a.small:before {
	background: url('../img/link_red.png') no-repeat center center #FFF3DF;
	width: 32px;
	height: 32px;
	border-bottom: none;
	display: inline-block;
	vertical-align: middle;
	content: "";
}
a.small {
	padding-top: 3px;
	font-style: normal;
}

blockquote {
	font-family:'Georgia', serif;
	font-style: italic;
	font-size: 1.6em;
	font-weight: 400;
	width: 770px;
	text-align: center;
	letter-spacing: 0.05em;
	line-height:2em;
	color: $faux_noir;
}
blockquote:before {
	content: "\201C";
	display: block;
	font-size: 5.2em;
	left: -380px;
	opacity: 0.3;
	position: relative;
	top: 60px;
}
blockquote:after {
	content: "\201D";
	display: block;
    font-size: 5.2em;
    left: 370px;
    opacity: 0.3;
    position: relative;
}

/* Navigation */
/* Rollover bg : #474745 */
aside {
	nav {
		display: block;
		position: fixed;
		right: 2%;
		top: 0px;
		padding-top: 16%;
		background:  url('../img/nav_bg_filet.png') repeat-y center;
		height: 100%;

		h2 {
			background-color: #fffcf5;
			padding: 5px 3px 5px 5px;
		}

		ul {
			padding: 0;
		}

		ul li {
			list-style-type: none;
			height: 41px;
			padding-top: 6px;
			margin-left: -4px;			
			a {
				height: 41px;
				width: 41px;
				display: block;
				padding-top: 6px;
				text-indent: -9999px;
				margin-left: 4px;
				background-repeat: no-repeat;
				background-position: center center;
				text-decoration: none;
				border-bottom: none !important;
			}
		}

		ul li:hover {
			background-size: 41px !important;
			cursor: pointer;
		}

		ul li.inner {
			margin-top: 0;
			height: 25px;
			width: 13px;
		    left: 18px;
		    position: relative;

    		a {
    			height: 13px;
    			width: 13px;
    			margin-left: 0;
	    		div.tooltip {
	    			left: -100px;
	    			margin-top: -30px;
	    		}
	    	}
		}

		ul li.inner:hover {
			background-size: 13px !important; 
		}

		/* Home */
		ul li#home {
			height: 50px;
			margin-left: 8px;
			a {
				height: 17px;
				width: 17px;
				background-size: 17px !important;
				background-image: url('../img/nav/introp-credits.png');

				div.tooltip {
					margin-top: -30px;
				}
			}
		}

		/* Hier */
		ul li#hier a {
			background-image: url('../img/nav/hier.png');
		}
		
		ul li.hier.inner a {
			background-image: url('../img/nav/hier_off.png');
		}

		ul li#hier_1 {
			margin-top: 15px;
		}

		ul li.hier.inner.active a {
			background-image: url('../img/nav/hier_active.png');
		}

		/* Aujourd'hui */
		ul li#aujourdhui a {
			background-image:  url('../img/nav/aujourdhui.png');
		}

		ul li.aujourdhui.inner a {
			background-image: url('../img/nav/aujourdhui_off.png');
		}

		ul li#aujourdhui_1 {
			margin-top: 15px;
		}

		ul li#aujourdhui_2 {
			div.tooltip {
				width: 100px;
				left: -110px;
			}
		}

		ul li#aujourdhui_3 {
			div.tooltip {
				width: 120px;
				left: -130px;
			}
		}

		ul li.aujourdhui.inner.active a {
			background-image: url('../img/nav/aujourdhui_active.png');
		}

		/* Demain */
		ul li#demain a {
			background-image:  url('../img/nav/futur.png');
		}

		ul li.demain.inner a {
			background-image: url('../img/nav/futur_off.png');
		}

		ul li#demain_1 {
			margin-top: 15px;
		}

		ul li.demain.inner.active a {
			background-image: url('../img/nav/futur_active.png');
		}

		/* Credits */
		ul li#credits {
			height: 50px;
			margin-left: 8px;
			a {
				height: 70px;
				width: 17px;
				background-size: 17px !important;
				background-image: url('../img/nav/introp-credits.png');

				div.tooltip {
					margin-top: 0px;
				}
			}
		}

		/* Tooltips generic */
		div.tooltip {
			background-color: #474745;
		    border-radius: 3px 3px 3px 3px;
		    color: White;
		    height: 30px;
		    left: -100px;
		    margin-top: -20px;
		    position: absolute;
		    width: 88px;
		    z-index: 1000000;
		    opacity: 0;
			

			span {
				color: #FFFFFF;
			    display: block;
			    font-size: 0.8em;
			    margin: 6px;
			    text-align: center;
			    text-indent: 0;
			    text-shadow: 0 1px 0 black;
			}
		}

		div.tooltip:after {
		    border-color: transparent transparent transparent #474745;
		    border-style: solid;
		    border-width: 5px 0 5px 5px;
		    content: "";
		    display: block;
		    height: 0;
		    line-height: 0;
		    position: absolute;
		    right: -5px;
		    top: 10px;
		    width: 0;
		}

	}
}





/* Articles Aside */
/* **** HOME **** */
article#home {
	header {
	    margin: 20px 25%;

	    h1, h2, h3 {
	    	color: $faux_noir;
	    }

		h1 {
			text-align: center;
			line-height: 1.3em;	
			width: 720px;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 650px;
		    margin: 0;
		    color: $text;
		}
	}
	p.heading {
		display: inline-block;
		margin: 0;
    	width: 40%;
	}
	aside {
		float: left;
    	width: 40%;
	}
	p.right {
		width: 40%;
	}

	div#linecut {
		background-color: $demain;
		margin: 40px 50%;
	}

	blockquote {
		width: 650px;
		padding: 0 18%;
		line-height: 1.7em;
	}

	img {
		display: inline-block;
	}
}
/* **** HIER **** */
article#hier_au_commencement {
	header {
	    margin: 20px 21%;

	    h1, h2, h3 {
	    	color: $hier;
	    }

		h1 {
			text-align: center;
			line-height: 1.3em;	
			width: 650px;
		}

		h2 {
			text-align: center;
			line-height: 1.3em;	
			width: 650px;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 650px;
		    margin: 0;
		    color: $text;
		}
	}
	p.heading {
		display: inline-block;
		margin: 0;
    	width: 50%;
	}
	aside {
		float: right;
    	width: 20%;
	}

	div#linecut {
		background-color: $hier;
		margin: 40px 48%;
	}
}

/* **** HIER : LE MONITEUR **** */
article#hier_moniteur {
	header {
		h3 {
			color: $hier;
			text-align: center;
			line-height: 1.3em;	
		}
		span.baseline {
			display: block;
		    font-size: 1.4em;
		    font-style: normal;
		}
	}
	p {
		display: inline-block;
		margin: 0;
	}
	p.left {
		width: 30%;
		float: left;
	}

	p.right {
		width: 30%;
	}

	aside {
		display: inline-block;
    	width: 30%;
    	div.animation {
    		float: left;
    	}
	}

	aside.placeholder {
		height: 200px;
	}
	div#linecut {
		background-color: $hier;
		margin-top: 30px;
	}
}

/* **** HIER : LE CLAVIER **** */
article#hier_clavier {
	header {
		h3 {
			color: $hier;
			text-align: center;
			line-height: 1.3em;	
		}
		span.baseline {
			display: block;
		    font-size: 1.4em;
		    font-style: normal;
		}

		div.time_bubble {
			span#year {
				left: 26px;
			}
			div#line {
				left: -50px;
			}
		}
	}
	p {
		display: inline-block;
		margin: 0;
	}
	p.left {
		width: 30%;
		float: left;
	}

	p.right {
		width: 30%;
	}

	aside {
		display: inline-block;
    	width: 30%;
    	div.animation {
    		float: left;
    	}
	}

	aside.placeholder {
		height: 200px;
	}
	div#linecut {
		background-color: $hier;
		margin-top: 30px;
	}
}


/* **** HIER : LIGHTPEN **** */
article#hier_lightpen {
	header {
		h3 {
			color: $hier;
			text-align: center;
			line-height: 1.3em;	
		}
		span.baseline {
			display: block;
		    font-size: 1.4em;
		    font-style: normal;
		}

		div.time_bubble {
			span#year {
				left: 26px;
			}
			div#line {
				left: -50px;
			}
		}
	}
	p {
		display: inline-block;
		margin: 0;
	}
	p.left {
		float: left;
		margin-top: 100px;
	}

	p.right {
		width: 30%;
	}

	aside {
		display: inline-block;
    	width: 30%;
    	div.animation {
    		float: left;
    	}
	}

	aside.placeholder {
		height: 200px;
	}
	div#linecut {
		background-color: $hier;
		margin-top: 30px;
	}
}

/* **** HIER : SOURIS **** */
article#hier_souris {
	header {
		h3 {
			color: $hier;
			text-align: center;
			line-height: 1.3em;	
		}
		span.baseline {
			display: block;
		    font-size: 1.4em;
		    font-style: normal;
		}

		div.time_bubble {
			span#year {
				left: 26px;
			}
			div#line {
				left: -50px;
			}
		}
	}
	p {
		display: inline-block;
		margin: 0;
	}
	p.left {
		width: 30%;
		float: left;
	}

	p.right {
		width: 30%;
	}

	aside {
		display: inline-block;
    	width: 30%;
    	div.animation {
    		float: left;
    	}
    	div#souris {
    		background:url('../img/hier/pointeur2.gif') center center no-repeat;
    		width: 230px;
    		height: 203px;
    		position: relative;
    		left: 70px;
		    top: -310px;
    	}
	}

	aside.placeholder {
		height: 200px;
	}
	div#linecut {
		background-color: $hier;
		margin-top: 30px;
	}
}

/* **** HIER : L'INTERFACE GRAPHIQUE **** */
article#hier_interface_graphique {
	header {
		h3 {
			color: $hier;
			text-align: center;
			line-height: 1.3em;	
		}
		span.baseline {
			display: block;
		    font-size: 1.4em;
		    font-style: normal;
		}
	}
	p {
		display: inline-block;
		margin: 0;
	}
	p.left {
		width: 30%;
		float: left;
	}

	p.right {
		width: 30%;
	}

	aside {
		display: inline-block;
    	width: 30%;
    	div.animation {
    		float: left;
    	}
    	div#gui {
    		background:url('../img/hier/GUI4.gif') center center no-repeat;
    		width: 230px;
    		height: 203px;
    		left: 80px;
		    position: relative;
		    top: -310px;
    	}
	}

	aside.placeholder {
		height: 200px;
	}
	div#linecut {
		background-color: $hier;
		margin-top: 30px;
	}
}

/* **** HIROSHI ISHII **** */
article#hiroshi {
	header {
		margin: 20px 21%;
		h1, h2, h3 {
	    	color: $hier;
	    }
	    
		h3 {
			text-align: center;
			line-height: 1.3em;	
			width: 120%;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 100%;
			margin: 0 9%;
		    color: $text;
		}
	}

	div#linecut {
		 margin: 40px 49%;
		 background-color: $text;
	}

	p.heading {
	 	display: inline-block;
	    margin-left: 40px;
	    width: 33%;
	    a {
	    	font-size: 0.85em;
	    }
	}

	p.left {
		width: 30%;
	 	display: inline-block;
	}
	p.right {
		width: 28%;
	 	display: inline-block;
	}
	div#full {
		margin-top: 50px;
	}
	a.small:before {
		background-image:url('../img/link_yellow.png');
	}
	aside {
		margin-left: 110px;
		width: 30%;
	 	display: inline-block;

		div.animation {
    		div {
    			display: inline-block;
    		}

    		div#tete {
    			background: url('../img/hiroshii/_hiroshii_tete.png') center center no-repeat;
				height: 117px;
			    left: 40px;
				position: relative;
				top: -302px;
				width: 179px;
				animation: 2s linear 0s alternate none infinite hiroshii;
				-webkit-animation: 2s linear 0s alternate none infinite hiroshii;
				-moz-animation: 2s linear 0s alternate none infinite hiroshii;
    		}

    		div#corps {
    			background: url('../img/hiroshii/_hiroshii_corps.png') center center no-repeat;
    			width: 259px;
    			height: 240px;

    		}
    	}
	}
}

/* **** AUJOURDH'UI **** */
article#denosjours {
	header {
		margin: 20px 21%;
		h1, h2, h3 {
	    	color: $aujourdhui;
	    }
	    h1 {
			text-align: center;
			line-height: 1.3em;	
		}

		h2 {
			text-align: center;
			line-height: 1.3em;	
			width: 120%;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 670px;
			margin: 0 9%;
		    color: $text;
		}
	}

	div#linecut {
		 margin: 40px 49%;
	}

	p.heading {
	 	display: inline-block;
	    margin-left: 40px;
	    width: 33%;
	    a {
	    	font-size: 0.85em;
	    }
	}

	aside {
		width: 45%;
		float: right;

		div.animation {
			background: url('../img/reactable/reactable.gif') center center no-repeat;
			display: block;
			height: 341px;
			width: 341px;
		}
	}
}

/* **** PIXELSENSE **** */
article#pixel_sense {
	header {
		h1, h2, h3 {
	    	color: $aujourdhui;
	    }
	}
	
	div.time_bubble {
		background-image:url('../img/timer/06_pixelsense.png');
	}

	div.linecut {
		margin-bottom: 30px;
		margin-top: 40px;
	}
	p.heading {
		font-weight: 700;
		font-style: italic;
		font-size: 1.1em;
	}

	p.left {
		width: 40%;
	}
	p.right {
		width: 40%;
	}
	a.small {
		font-size: 0.85em;
	}

	aside {
		margin-top: 30px;
		height: 600px;
		div.animation {
			background: url('../img/reactable/reactable.gif') center center no-repeat;
			display: block;
			height: 341px;
			width: 341px;
		}

		div#surface {
			background:url('../img/pixel_sense/_pixelsense_table.png') center center no-repeat;
			width: 628px;
			height: 428px;
			display: inline-block;
			div#text {
				background:url('../img/pixel_sense/_pixelsense_fleche.png') center center no-repeat;
				width: 201px;
				height: 104px;
				left: 210px;
				position: relative;
				top: 160px;				
			}

			div.dropzone {
			    height: 368px;
			    left: 30px;
			    position: relative;
			    top: -74px;
			    width: 568px;
			}
			div.description {
				position: relative;
			    left: 205px;
				position: relative;
    			top: -410px;
    			width: 390px;
    			height: 330px;
    			overflow: hidden;
				div {
					display: block;
					-webkit-transition: opacity 0.5s ease-out;
					-moz-transition: opacity 0.5s ease-out;
					transition: opacity 0.5s ease-out;
					opacity: 0; 
					height: 0;
				}

				div#crayon {
					left: 20%;
				    position: relative;
				    top: 35%;
				}
				div.active {
					opacity: 1;
					height: auto;
				}
			}



		}
		div#objets {
			width: 25%;
			float: right;

			ul {
				list-style-type: none;


				li div.drag {
					z-index: 110;
					position: absolute;
				}

				li div.drag:hover {
					cursor: move;
				}

				li div.drag.dropped:hover {
					cursor: default;
				}

				li#crayon {
					width: 21px;
					height: 143px;
					margin-left: 49px;
				    img {
				    	transform: rotate(310deg);
				    }
				    div.dropped {
				    	img {
				    		transform: none;
				    	}
				    }
				}

				li#card {
					width: 69px;
					height: 112px;
				    margin-left: 200px;
   					margin-top: -28px;
				    img {
				    	transform: rotate(20deg);
				    }
				    div.dropped {
				    	img {
				    		transform: none;
				    	}
				    }

				}

				li#portable {
					width: 87px;
					height: 156px;
					margin-left: 21px;
    				margin-top: -39px;
				    img {
				    	transform: rotate(350deg);
				    }
				    div.dropped {
				    	img {
				    		transform: none;
				    	}
				    }
				}
			}
		}
	}
}


/* **** EDITIONS VOLUMIQUES **** */
article#editions_volumiques {
	z-index:998px;
	background-position: fixed; 

	div#nouveauxjeux {
		margin-top: 90px;
		aside {
			width: 41%;
		}
	}

	div#linecut {
		background-color: $aujourdhui;
	}

	header {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 30px;

		h1, h2, h3 {
	    	color: $aujourdhui;
	    }

	    div.time_bubble {
	    	background-image: url('../img/timer/07_editionvolumique.png');
	    }
	}

	header h1 {
		font-size: 4.35em;
		color: $aujourdhui;
		margin: 20px 0;
		display: inline-block;
	}

	header span {
		font-size: 1.35em;
		color: black;
		font-weight: 700;
		color: black;
	}

	header 	span.baseline {
    	display: inline-block;
	}

	p {
		display: inline-block;
    	font-size: 0.9em;
    	line-height: 1.6em;
    	width: 40%;
		text-justify: newspaper;
	}
	span.title {
		color: black;
		display: block;
		font-size: 1.65em;
		font-weight: 700;
		padding-bottom: 10px;
	}
	

	p.heading {
		font-size: 1em;
		width: 65%;
		font-weight: 700;
		font-style: italic;
	}

	aside {
		float: right;

		p {
			width: 80%;
		}

		div.animation {

			#livre {
				z-index:89;
				position: relative;
			}
			
			#fleches {
				z-index: 90;
				margin-left: -155px;
				animation: rotate 6s infinite linear;
				-webkit-animation: rotate 6s infinite linear;
				-moz-animation: rotate 6s infinite linear;
				position: relative;
			}

			#ipad {
				z-index: 91;
				margin-left: -40px;	
				position: relative;
			}
		}
	}

	div.content#realisations {
		p.center {
			width: 200%;
			margin: 0;
			span {
				margin-left: 16px;
				width: 100%;
			}
		}
		aside {
			margin-top: 50px;
		}

		div#fleche_pointille {
			background:url('../img/editions_volumiques/_realisation_fleche_pointilles.png') center center no-repeat;
			width: 323px;
			height: 124px;
			left: 154px;
		    position: relative;
		    top: 270px;
		}

		ul#pions {
			width: 54%;
			float: left;
			
			li {
				background-repeat: no-repeat;
				overflow: hidden;
				margin: 5px 0 100px;

				div.drag {
					z-index: 110;
					position: absolute;
				}
				div.drag:hover {
					cursor: move;
				}
				div.drag.dropped:hover {
					cursor: default;
				}
				div.description {
					margin-top: 30px;
					margin-left: 200px;
					span.title {
						font-size: 1em;
						letter-spacing: 0;
						padding-bottom: 0;
					}
					p {
						margin: 0;
						font-size: 0.8em;
						font-style: italic;
					}
				}
			}

			li#pion1 {
				height: 145px;
				background-image: url('../img/editions_volumiques/_realisation_pion1_trou.png');
			}

			li#pion2 {
				height: 155px;
				background-image: url('../img/editions_volumiques/_realisation_pion2_trou.png');
				div#pointilles {
					background: url('../img/editions_volumiques/_realisation_contours_pointilles.png') center center no-repeat;
					width: 125px;
					height: 166px;
					display: block;
					position: absolute;
					margin: -7px 0 0 -7px;
				}
			}

			li#pion3 {
				height: 114px;
				background-image: url('../img/editions_volumiques/_realisation_pion3_trou.png');
			}
		}
		div.animation {
			width: 40%;
			display: inline-block;

			div#ipad {
				background: url('../img/editions_volumiques/_realisation_ipad.png') no-repeat center center;
				width: 438px;
				height: 639px;
				z-index: 100;
				position: relative;

				div#dropzone {
					width: 377px;
					height: 250px;
					position:relative;
					top: 50px;
					left: 30px;
				}

				div.description {
					top: 250px;
					position: relative;
					overflow: hidden;
					span.title {
						font-size: 1.3em;
						color: $aujourdhui;
						margin-left: 1px;
					    text-align: center;
					    width: 100%;
					}

					p {
						font-size: 1em;
						 margin-left: 10%;
					    text-align: center;
					}

					div {
						display: block;
						-webkit-transition: opacity 0.5s ease-out;
						transition: opacity 0.5s ease-out;
						-moz-transition: opacity 0.5s ease-out;
						opacity: 0; 
						height: 0;
					}
					div.active {
						opacity: 1;
						height: auto;
					}
				}
			}
		}
	}
}

/* **** COMMERCIALISATION **** */
article#commercialisation {
	header {
		h3 {
			color: $aujourdhui;
		}
		div.time_bubble {
			background-image: url('../img/timer/08_commercialisation.png');
		}
	}

	p.left {
		width: 35%;
		margin-top: 60px;
	}

	p.right {
		width: 30%;
	}

	p {
		span.title {
    		font-size: 1.3em;
    		color: black;
		    display: block;
		    font-weight: 700;
		    padding-bottom: 10px;
    	}

    	a.small {
			font-size: 0.85em;
		}
	}

	aside {
		img#cache {
			z-index: 120;
			left: -30px;
		    position: relative;
		    top: 30px;
		}
		div#epawn_shadow {
			width: 504px;
			height: 50px;
			background-image: url('../img/commercialisation/_epawn_shadow.png');
			background-repeat: no-repeat;
			background-position: center center;
		}
		div.animation {
			background-image: url('../img/commercialisation/_epawn_bleu.png');
			background-repeat: no-repeat;
			background-position: center center;
			width: 495px;
			height: 311px;
		}
		div.animation div {
			width: 53px;
			height: 90px;
			left: 437px;
		    position: relative;
		    top: 148px;
		}
		div.animation div:hover {
			cursor: pointer;
		}
	}
}

/* **** LES ENJEUX **** */
article#enjeux {
	header {

		div.time_bubble {
			background-image: url("../img/enjeux.png");
			
		}

		h3 {
			color: $aujourdhui;
		}
		span.baseline {
			display: block;
		}
	}

	blockquote {
		color: $aujourdhui;
		width: 650px;
		padding: 0 18%;
		line-height: 1.2em;
		font-size: 2em;

		span.author {
			display: block;
			margin-top: 10px;
			font-size: 0.5em;
			font-family: "Helvetica", "Arial", sans-serif;
			letter-spacing: 0.03em;
			text-align: center;
			strong {
				font-style: normal;
				font-weight: 700;
				color: $faux_noir;
			}
			color: $text;
		}
	}
	blockquote:after {
		left: 300px;
	    top: -30px;
	}

	blockquote:before {
		left: -350px;
	}

	p.left {
		width: 30%;
		margin-top: 60px;
	}

	p.right {
		width: 40%;
		margin-top: 40px;
	}

	p.heading {
		font-style: italic;
		font-weight: 700;
		margin-bottom: 50px;
	}
	p {
		span.title {
    		font-size: 1.3em;
    		color: black;
		    display: block;
		    font-weight: 700;
		    padding-bottom: 10px;
    	}

    	a.small {
			font-size: 0.85em;
		}
	}

	aside.left {
		width: 470px;
		height: 400px;
		margin-left: 50px;
		div.animation {
			div#tablette {
				width: 245px;
				height: 346px;
				background: url('../img/enjeux_educ/_enjeuxeduc_ipad.png') center center no-repeat;
				display: inline-block;

				div#fleche {
					width: 153px;
					background: url('../img/enjeux_educ/fleche_educ.png') center center no-repeat;
					left: 40px;
				    position: relative;
				    top: 100px;
				    opacity: 0;
				    height: 0;
				}

				div#fleche.active {
					opacity: 1;
					height: 104px;
				}

				div.description {
					overflow: hidden;
					width: 245px;
					height: 270px;
					div {
						display: block;
						-webkit-transition: opacity 0.5s ease-out;
						transition: opacity 0.5s ease-out;
						-moz-transition: opacity 0.5s ease-out;
						height: 0;
						opacity: 0;
					}

					div.active {
						opacity: 1;
						height: auto;
					}
					div#mini_lapin {
						margin-left: 100px;
    					margin-top: 30px;
					}

					div#illu_lapin {
						margin-left: 60px;
    					margin-top: 30px;
    					margin-bottom: 10px;
					}

					div#mini_renard {
						margin-left: 100px;
    					margin-top: 0;
					}

					div#illu_renard {
						margin-left: 40px;
    					margin-top: -10px;
					}
				}
			}

			ul#pieces {
				vertical-align: top;
				display: inline-block;
				list-style-type: none;
					margin-left: 50px;

				li {
					margin-bottom: 30px;
					img {
						-webkit-transition: opacity 0.5s ease-out;
						transition: opacity 0.5s ease-out;
						-moz-transition: opacity 0.5s ease-out;
						opacity: 1;
					}
					img.desactivate {
						opacity: 0;
					}
				}				

				li:hover {
					cursor: pointer;
				}

				li#lapin{
					width: 88px;
					height: 136px;
					background: url('../img/enjeux_educ/_enjeuxeduc_trou_lapin.png') center center no-repeat;
				}

				li#renard{
					width: 94px;
					height: 126px;
					background: url('../img/enjeux_educ/_enjeuxeduc_trou_renard.png') center center no-repeat;
				}
			}
		}
	}

	aside.right {
		width: 60%;
		div.animation {
			div {
				display: inline-block;
				float: left;
			}
			div#table {
				background: url('../img/enjeux_pro/_enjeuxpro_table.png') center center no-repeat;
				height: 251px;
				width: 338px;
			}
			div#main {
				background: url("../img/enjeux_pro/_enjeuxpro_main.png") no-repeat scroll center center transparent;
				height: 136px;
				left: 170px;
				position: relative;
				top: -190px;
				width: 405px;
				z-index: 101;
				div#ondes {
					background: url("../img/enjeux_pro/ondes.gif") no-repeat scroll center center transparent;
					height: 30px;
					width: 38px;
					left: 13px;
				    position: relative;
				    top: 115px;
				    transform: rotate(20deg);
				   	-webkit-transform: rotate(20deg);
				   	-moz-transform: rotate(20deg);
				}
			}
			div#cache {
				background: url("../img/enjeux_pro/_enjeuxpro_cache.png") no-repeat scroll center center transparent;
				height: 230px;
				left: 120px;
				position: relative;
				top: -220px;
				width: 81px;
				z-index: 102;
			}
		}
	}
}

/* **** DEMAIN **** */
article#demain {
	header {
		margin: 20px 21%;
		h1, h2, h3 {
	    	color: $demain;
	    }
	    h1 {
			text-align: center;
			line-height: 1.3em;	
		}

		h2 {
			text-align: center;
			line-height: 1.3em;	
			width: 120%;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 670px;
			margin: 0;
		    color: $text;
		}
	}

	a.small {
		font-size: 0.85em;
	}
	a.small:before {
		background-image: url('../img/link_blue.png');
	}
	div#linecut {
		 margin: 40px 49%;
		 background-color: $demain;
	}

	p.heading {
	 	display: inline-block;
	    margin-left: 40px;
	    margin-top: 50px;
	    width: 36%;
	    a {
	    	font-size: 0.85em;
	    }
	}

	aside {
		width: 50%;
		div.animation {
		}

	}

	aside#naturelle {
		img {
			margin-top: 50px;
		}
	}
	aside.left {
		width: 424px;
		height: 409px;
		background:url('../img/futur/bacasable.png') center center no-repeat;
		margin-left: 70px;
	}

	div#kinect {
		width: 278px;
		height: 58px;
		background:url('../img/futur/kinect.png') center center no-repeat;
		left: 140px;
		position: relative;
		top: -84px;
	}

	p.right {
		width: 40%;
		margin-top: 70px;
	}

	p#organic {
		margin-top: -40px;
	}

	p.natural {
		width: 40%;
	}

	aside.natural {
		margin-top: 100px;
	}

	blockquote {
		color: $demain;
		width: 410px;
		padding: 0;
		line-height: 1.2em;
		font-size: 2em;
		display: inline-block;
		margin-top: -40px;

		span.author {
			display: block;
			margin-top: 60px;
			font-size: 0.5em;
			font-family: "Helvetica", "Arial", sans-serif;
			letter-spacing: 0.03em;
			text-align: center;
			strong {
				font-style: normal;
				font-weight: 700;
				color: $faux_noir;
			}
			color: $text;
		}
	}
	blockquote:after {
		color: $faux_noir;
		left: -10px;
    	top: -40px;
	}

	blockquote:before {
		color: $faux_noir;
		left: -350px;
    	left: 0;
    	top: 20px;
    }
}

/* **** CREDITS **** */
article#credits {
	header {
	    margin: 20px 25%;

	    h1, h2, h3 {
	    	color: $faux_noir;
	    }

		h2 {
			text-align: center;
			line-height: 1.3em;	
			width: 100%;
		}

		span.baseline {
			display: block;
		    font-size: 1.2em;
		    font-style: italic;
		    text-align: center;
		    width: 100%;
		    margin: 0;
		    color: $text;
		}
	}

	p.heading {
		display: inline-block;
		margin: 0;
    	width: 40%;
	}

	div#linecut {
		background-color: $faux_noir;
		margin: 10px 42% 30px;
	}

	div#links {
		width: 30%;	
		display: inline-block;
		ul {
			list-style-type: none;

			div.sep {
			   	margin: 0 0 20px -30px;
	    		width: 230px;
			}
			li {
				span {
					font-family: "BebasRegular";
					letter-spacing: 0.09em;
					line-height: 1em;
					font-weight: 400;
					font-size: 1.5em;
				}
				span:before {
					background: url('../img/link_blue_big.png') no-repeat center center #FFF3DF;
					width: 30px;
					height: 22px;
					border-bottom: none;
					display: inline-block;
					vertical-align: middle;
					content: "";
					margin-right: 20px
				}
				ul {
					width: 100%;
					height: 0;
					opacity: 0;
					-webkit-transition: opacity 0.5s ease-out;
					-moz-transition: opacity 0.5s ease-out;
					transition: opacity 0.5s ease-out;

					li {
						display: none;
					}
					li a:hover {
						color: $faux_noir;
					}
				}
				ul.active {
					height: auto;
					opacity: 1;
					li {
						display: list-item;
					}
				}
			}
			
			li:hover {
				cursor: pointer;
			}

			li.hier {
				span {
					color: $hier;
				}
				span:before {
					background: url('../img/link_yellow_big.png') no-repeat center center #FFF3DF;
				}
			}

			li.aujourdhui {
				span {
					color: $aujourdhui;
				}
				span:before {
					background: url('../img/link_red_big.png') no-repeat center center #FFF3DF;
				}
			}
			li.demain {
				span {
					color: $demain;
				}
				span:before {
					background: url('../img/link_blue_big.png') no-repeat center center #FFF3DF;
				}
			}
		}
	}

	aside.right {
		width: 60%;
		height: 480px;
    	overflow: hidden;
		div.animation {
			margin-top: 100px;
			div.pions {
				position: relative;
				div {
					background-repeat: no-repeat;
					background-position: center center;
					height: 149px;
					width: 100px;
					position: absolute;
					z-index: 208;
					span {
						color: $faux_noir;
						display: block;
						font-size: 0.85em;
						position: relative;
						top: 150px;
					}
				}
				div#jeremy {
					background-image:url('../img/credits/jeremy.png');
					left: 430px;
					top: 10px;
//    				animation: 15s ease-in-out 0s normal none infinite circleJeremy;
//    				-webkit-animation: 15s ease-in-out 0s normal none infinite circleJeremy;
//    				-moz-animation: 15s ease-in-out 0s normal none infinite circleJeremy;
				}
				div#sophie {
					background-image:url('../img/credits/sophie.png');
				  	left: 130px;
    				top: -10px;
//    				animation: 15s ease-in-out 0s normal none infinite circleSophie;
//    				-webkit-animation: 15s ease-in-out 0s normal none infinite circleSophie;
//    				-moz-animation: 15s ease-in-out 0s normal none infinite circleSophie;
				}
				div#lea {
					background-image:url('../img/credits/lea.png');
				   	left: 170px;
				    top: 150px;
//    				animation: 15s ease-in-out 0s normal none infinite circleLea;
//    				-webkit-animation: 15s ease-in-out 0s normal none infinite circleLea;
//    				-moz-animation: 15s ease-in-out 0s normal none infinite circleLea;
    				span {
						text-align: center;
						width: 88px;
    				}
				}
				div#nicolas {
					background-image:url('../img/credits/nicolas.png');
				    left: 280px;
				    top: -110px;
//    				animation: 15s ease-in-out 0s normal none infinite circleNicolas;
//    				-webkit-animation: 15s ease-in-out 0s normal none infinite circleNicolas;
//    				-moz-animation: 15s ease-in-out 0s normal none infinite circleNicolas;
				}
				div#lucas {
					background-image:url('../img/credits/lucas.png');
				   	left: 400px;
				    top: 180px;
//    				animation: 15s ease-in-out 0s normal none infinite circleLucas;
//    				-webkit-animation: 15s ease-in-out 0s normal none infinite circleLucas;
//    				-moz-animation: 15s ease-in-out 0s normal none infinite circleLucas;
				}
			}

			div#gobelins {
				animation: 2s linear 0s alternate none infinite levitate;
//				-webkit-animation: 2s linear 0s alternate none infinite levitate;	
//				-moz-animation: 2s linear 0s alternate none infinite levitate;	
				background-repeat: no-repeat;
				background-position: center center;
				height: 104px;
				width: 59px;
				background-image:url('../img/credits/gobelins_light.png');
				left: 310px;
				position: relative;
				top: 90px;
				z-index: 200;
			}
		}
	}
}



/* Animations */
/* CircleStrafeQ3onGobelins */
@keyframes circleLucas {
    0% {
	   	left: 400px;
	    top: 180px;
}
    20%   {
    	left: 170px;
	    top: 150px;
    }
    40%   {
		left: 130px;
		top: -10px;
    }
    60%   {
	 	left: 280px;
	    top: -110px;
    }
    80%   {
    	left: 430px;
		top: 10px;
    }
    100%   {
	   	left: 400px;
	    top: 180px;
    }
}

@keyframes circleLea {
    0% {
    	left: 170px;
	    top: 150px;
}
    20%   {
		left: 130px;
		top: -10px;
    }
    40%   {
	 	left: 280px;
	    top: -110px;
    }
    60%   {
    	left: 430px;
		top: 10px;
    }
    80%   {
	   	left: 400px;
	    top: 180px;
    }
    100%   {
    	left: 170px;
	    top: 150px;
    }
}

@keyframes circleSophie {
    0% {
		left: 130px;
		top: -10px;
}
    20%   {
	 	left: 280px;
	    top: -110px;
    }
    40%   {
    	left: 430px;
		top: 10px;
    }
    60%   {
	   	left: 400px;
	    top: 180px;
    }
    80%   {
   	left: 170px;
	    top: 150px;
    }
    100%   {
		left: 130px;
		top: -10px;
    }
}

@keyframes circleNicolas {
    0% {
	 	left: 280px;
	    top: -110px;
}
    20%   {
    	left: 430px;
		top: 10px;
    }
    40%   {
	   	left: 400px;
	    top: 180px;
    }
    60%   {
   		left: 170px;
	    top: 150px;
    }
    80%   {
		left: 130px;
		top: -10px;
    }
    100%   {
	 	left: 280px;
	    top: -110px;
    }
}

@keyframes circleJeremy {
    0% {
    	left: 430px;
		top: 10px;
}
    20%   {
	   	left: 400px;
	    top: 180px;
    }
    40%   {
   		left: 170px;
	    top: 150px;
    }
    60%   {
		left: 130px;
		top: -10px;
    }
    80%   {
	 	left: 280px;
	    top: -110px;
    }
    100%   {
   		left: 430px;
		top: 10px;
    }
}
/* Levitate */
@keyframes levitate {
	from {
    	top: 90px;
    }
    to   {
    	top: 110px;
    }
}

@-webkit-keyframes levitate {
    from {
    	top: 90px;
    }
    to   {
    	top: 110px;
    }
}

@-moz-keyframes levitate {
    from {
    	top: 90px;
    }
    to   {
    	top: 110px;
    }
}

/* Rotate */
@keyframes rotate {
    from {
    	transform: rotate(359deg);
    }
    to   {
    	transform: rotate(0);
    }
}

@-webkit-keyframes rotate {
    from {
    	-webkit-transform: rotate(359deg);
    }
    to   {
    	-webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
    	-moz-transform: rotate(359deg);
    }
    to   {
    	-moz-transform: rotate(0);
    }
}

/* Hiroshii */
@keyframes hiroshii {
    from {
    	transform: rotate(-10deg);
    }
    to   {
    	transform: rotate(10deg);
    }
}

@-webkit-keyframes hiroshii {
    from {
    	-webkit-transform: rotate(-10deg);
    }
    to   {
    	-webkit-transform: rotate(10deg);
    }
}

@-moz-keyframes hiroshii {
    from {
    	-moz-transform: rotate(-10deg);
    }
    to   {
    	-moz-transform: rotate(10deg);
    }
}