/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/////////////////////*/

html, body {
	height:100%;
	width:100%;
}

article {
	clear:both;
	overflow:hidden;
}

/* Le menu de droite */

#menu {
	position:fixed;
	top:50%;
	right:0;
	z-index:999;
}


/* Modèle de page */

.wraper {
	width:940px;
	
	
	z-index:998px;
	background-color:#f0ede1;
	position:relative;
}

.wraper h2 {
	width:700px;
	font-size:4em;
	font-family:bebas;
	color:#e64552;
	line-height:1.2em;
	text-transform: uppercase;
}

.wraper-caption {
	font-family:Helvetica, arial, sans-serif;
	font-weight: bold;
	font-size:1.2em;
	margin-top:20px;
}

.introduction {

	font-style:italic;
	font-family:helvetica, arial, sans-serif;
	font-weight:bold;
	font-size:1em;
	color:#555555;
	width:620px;
	margin-bottom:40px;
	padding-bottom:40px;
	background:url('img/separator.jpg') center bottom no-repeat;
}

.illustration-right {
	float:right;
}

.illustration-left {
	float:left;
}

.article-text {
	width:370px;
}

.explications h3 {

	font-family:Helvetica Neue LT Std;
	font-weight:bold;
	font-size:1.2em;
	color:#1b1b1b;
	width:300px;
	line-height:1.4em;
	margin-bottom:20px;
}

.explications p{
	font-family:Helvetica LT Std;
	font-size:0.9em;
	line-height:1.2em;
	color:#615d58;
	margin-bottom:20px;
}

.explications a {

	font-family:Helvetica LT Std;
	display:block;
	width:110px;
	text-align:right;
	color:#615d58;
	font-size:0.8em;
	background:url('img/link.png') no-repeat;


}

.next-explications {
	margin-top:80px;
}

.realisations {
	text-align:center;
	margin-top:150px;
}

.realisations h3 {
	width:100%;
}

.realisations p {
	margin-bottom:60px;
}



/* /////////////////////Cas par cas///////////////////////////////// */

/* ///////////De nos jours*/

/* //////////Intro */

#denosjours {
	
	min-height:690px;
	height:100%;
	overflow:hidden;
}

#denosjours h2, #denosjours .introduction {
	text-align:center;
	margin:auto;
}

#denosjours h2 {
	margin-bottom:40px;
}

#denosjours .introduction {
	margin-bottom:60px;
}


#denosjours-content {
	height:690px;
	width:940px;
	position:fixed;
	top:50%;
	margin-top:-345px;
	
}

#reactable {
	padding-top:50px;
}

/*//////// Editions volumiques */

#volumiques-content {
	width:940px;	
}

#volumiques .introduction {
	background:none;
}

#volumiques-concept {
	padding-top:20px;
}

#volumiques-plateau {
	float:right;
	padding-top:60px;
}

#volumiques-title {
	width:100%;
	height:160px;
	background:url('img/clock_2009.png') left no-repeat;
	padding-left:170px;
	margin-bottom:40px;
}


/*////TESTS /////*/

#testOuf {
	height:100%;
	background-color:black;
	position:relative;
	
}



