body,html {
	height:100%;
}

div.wrapper {
	width:100%;
	margin:0;
	padding:0;
	height:100%;
}

section{

	margin:auto;
	padding:0;
	width:960px;

}

.fullheight {
	height:100%;
}

article {
	width:960px;
	margin:auto;
	padding:0;
	min-height:800px;
	position:relative;
}

div article .content {
	width:960px;
	margin:0;
	padding:0;
	position:relative;

}

.fullheightarticle {
	height:100%;

}

/* Histoire interface graphique */

#hier_interface_graphique {

	background: url(../img/moniteur_clavier_souris.png) no-repeat center fixed;
}

#hier_interface_graphique .content {
	
	height:600px;
	position:relative;
	/*top:50%;
	margin-top:-300px;*/

}

#hier_interface_graphique .animation {
	margin-top:80px;

}

#hier_interface_graphique .right {
	margin-top:80px;

}

/* Histoire moniteur */

article#hier_moniteur header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 533, ../sass/screen.scss */
article#hier_moniteur header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 539, ../sass/screen.scss */
article#hier_moniteur p {
  display: inline-block;
  margin: 0;
}
/* line 543, ../sass/screen.scss */
article#hier_moniteur p.left {
  width: 30%;
  float: left;
}
/* line 548, ../sass/screen.scss */
article#hier_moniteur p.right {
  width: 30%;
}
/* line 552, ../sass/screen.scss */
article#hier_moniteur aside {
  display: inline-block;
  width: 30%;
}
/* line 555, ../sass/screen.scss */
article#hier_moniteur aside div.animation {
  float: left;
}
/* line 560, ../sass/screen.scss */
article#hier_moniteur aside.placeholder {
  height: 200px;
}
/* line 563, ../sass/screen.scss */
article#hier_moniteur div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

#hier_moniteur {

	background: url(../img/moniteur.png) no-repeat center fixed;
}

#hier_moniteur .content {
	
	height:600px;
	position:relative;
	/*top:50%;
	margin-top:-300px;*/

}

#hier_moniteur .animation {
	margin-top:100px;

}

#hier_moniteur .right {
	margin-top:140px;

}

/* Histoire clavier */

article#hier_clavier header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 533, ../sass/screen.scss */
article#hier_clavier header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 539, ../sass/screen.scss */
article#hier_clavier p {
  display: inline-block;
  margin: 0;
}
/* line 543, ../sass/screen.scss */
article#hier_clavier p.left {
  width: 30%;
  float: left;
}
/* line 548, ../sass/screen.scss */

/* line 552, ../sass/screen.scss */
article#hier_clavier aside {
  display: inline-block;
  width: 30%;
}
/* line 555, ../sass/screen.scss */
article#hier_clavier aside div.animation {
  float: left;
}
/* line 560, ../sass/screen.scss */
article#hier_clavier aside.placeholder {
  height: 200px;
}
/* line 563, ../sass/screen.scss */
article#hier_clavier div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

#hier_clavier {

	background: url(../img/moniteur_clavier.png) no-repeat center fixed;
}

#hier_clavier .content {
	
	height:600px;
	position:relative;
	/*top:50%;
	margin-top:-300px;*/

}

#hier_clavier .animation {
	margin-top:80px;

}

#hier_clavier .right {
	text-align:center;
	width:225px;
	padding-top:35px;
	background:url(../img/quote.png) top center no-repeat;


}

#hier_clavier cite {
	font-family:georgia;
	font-style: italic;
	font-size:2em;
	line-height:1.4em;
	color:#fbbb27;

}

/* Histoire lightpen */

article#hier_lightpen header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 533, ../sass/screen.scss */
article#hier_lightpen header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 539, ../sass/screen.scss */
article#hier_lightpen p {
  display: inline-block;
  margin: 0;
}
/* line 543, ../sass/screen.scss */
article#hier_lightpen p.left {
  width: 30%;
  float: left;
}
/* line 548, ../sass/screen.scss */
article#hier_lightpen p.right {
  width: 30%;
}
/* line 552, ../sass/screen.scss */
article#hier_lightpen aside {
  display: inline-block;
  width: 30%;
}
/* line 555, ../sass/screen.scss */
article#hier_lightpen aside div.animation {
  float: left;
}
/* line 560, ../sass/screen.scss */
article#hier_lightpen aside.placeholder {
  height: 200px;
}
/* line 563, ../sass/screen.scss */
article#hier_lightpen div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

#hier_lightpen {

	background: url(../img/moniteur_clavier.png) no-repeat center fixed;
}

#hier_lightpen .content {
	
	height:600px;
	position:relative;
	/*top:50%;
	margin-top:-300px;*/

}

#hier_lightpen .animation {
	margin-top:80px;

}

#hier_lightpen .right {
	margin-top:80px;

}

/* Histoire souris */

article#hier_souris header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 533, ../sass/screen.scss */
article#hier_souris header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 539, ../sass/screen.scss */
article#hier_souris p {
  display: inline-block;
  margin: 0;
}
/* line 543, ../sass/screen.scss */
article#hier_souris p.left {
  width: 30%;
  float: left;
}
/* line 548, ../sass/screen.scss */
article#hier_souris p.right {
  width: 30%;
}
/* line 552, ../sass/screen.scss */
article#hier_souris aside {
  display: inline-block;
  width: 30%;
}
/* line 555, ../sass/screen.scss */
article#hier_souris aside div.animation {
  float: left;
}
/* line 560, ../sass/screen.scss */
article#hier_souris aside.placeholder {
  height: 200px;
}
/* line 563, ../sass/screen.scss */
article#hier_souris div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

#hier_souris {

	background: url(../img/moniteur_clavier_souris.png) no-repeat center fixed;
}

#hier_souris .content {
	
	height:600px;
	position:relative;
	/*top:50%;
	margin-top:-300px;*/

}

#hier_souris .animation {
	margin-top:100px;

}

#hier_souris .right {
	

}

