/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Colors */
/* HTML Generic */
/* line 15, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 20, ../sass/screen.scss */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  background-color: #FFF3DF;
  background-image: url("../img/background_pattern.gif");
}

/* line 29, ../sass/screen.scss */
div.wrapper {
  width: 100%;
  height: 100%;
}

/* line 34, ../sass/screen.scss */
::selection {
  background: #ffb7b7;
  /* Safari */
}

/* line 38, ../sass/screen.scss */
::-moz-selection {
  background: rgba(150, 0, 0, 0.4);
  /* Safari */
}

/* Links */
/* line 43, ../sass/screen.scss */
a, a:hover, a:active, a:visited, a:link {
  color: #696969;
  text-decoration: none;
  border-bottom: 1px solid #696969;
}

/* line 49, ../sass/screen.scss */
section {
  margin: 0 0 10% 0;
}

/* line 53, ../sass/screen.scss */
.placeholder {
  background-color: slategray;
  color: white;
  border: 2px dotted black;
}

/* Headings */
/* line 60, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: "BebasRegular";
  letter-spacing: 0.09em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}

/* line 69, ../sass/screen.scss */
.left {
  float: left;
}

/* line 73, ../sass/screen.scss */
.right {
  float: right;
}

/* line 77, ../sass/screen.scss */
.center {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
}

/* line 83, ../sass/screen.scss */
.full {
  width: 100% !important;
  float: none !important;
}

/* Site title */
/* line 89, ../sass/screen.scss */
h1 {
  font-size: 3.85em;
  /* 41pt */
}

/* Articles Generic */
/* line 94, ../sass/screen.scss */
div.articles {
  color: #696969;
}
/* line 97, ../sass/screen.scss */
div.articles article {
  width: auto;
  height: 100%;
  -webkit-background-size: cover;
  /* pour Chrome et Safari */
  -moz-background-size: cover;
  /* pour Firefox */
  -o-background-size: cover;
  /* pour Opera */
  background-size: cover;
  /* version standardisée */
  padding-top: 40px;
}
/* line 106, ../sass/screen.scss */
div.articles article .content {
  margin-left: 5%;
  width: 80%;
}

/* line 113, ../sass/screen.scss */
div#linecut {
  background-color: #e64552;
  z-index: 99;
  width: 141px;
  height: 3px;
  margin-bottom: 30px;
}

/* line 121, ../sass/screen.scss */
.sep {
  background: url("../img/bg_separator.png") center center no-repeat;
  width: 955px;
  height: 18px;
  margin: 80px 15% 60px;
}

/* line 128, ../sass/screen.scss */
div.time_bubble {
  width: 172px;
  height: 118px;
  display: inline-block;
  background-image: url("../img/time_bubble2.png");
  vertical-align: top;
  background-repeat: no-repeat;
}
/* line 136, ../sass/screen.scss */
div.time_bubble span#year {
  color: #FFFFFF;
  font-family: "BebasRegular";
  font-size: 1.9em;
  font-weight: 400;
  left: 31px;
  position: relative;
  top: 46px;
  z-index: 98;
}
/* line 146, ../sass/screen.scss */
div.time_bubble div#line {
  background-color: #181818;
  display: inline-block;
  height: 3px;
  left: -27px;
  position: relative;
  top: 36px;
  width: 70px;
  z-index: 99;
}

/* line 158, ../sass/screen.scss */
header h1 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 166, ../sass/screen.scss */
header h2 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 174, ../sass/screen.scss */
header h3 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 182, ../sass/screen.scss */
header span {
  font-size: 1.35em;
  font-weight: 700;
  color: black;
}

/* line 188, ../sass/screen.scss */
header span.baseline {
  display: inline-block;
  margin-left: 175px;
}

/* line 193, ../sass/screen.scss */
span.title {
  color: black;
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 10px;
}

/* line 201, ../sass/screen.scss */
a.small:before {
  background: url("../img/link.png") no-repeat center center #fff3df;
  width: 32px;
  height: 32px;
  border-bottom: none;
  display: inline-block;
  vertical-align: middle;
  content: "";
}

/* line 210, ../sass/screen.scss */
a.small {
  padding-top: 3px;
  font-style: normal;
}

/* line 215, ../sass/screen.scss */
blockquote {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1.6em;
  font-weight: 400;
  width: 770px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 2em;
  color: #181818;
}

/* line 226, ../sass/screen.scss */
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 5.2em;
  left: -380px;
  opacity: 0.3;
  position: relative;
  top: 60px;
}

/* line 235, ../sass/screen.scss */
blockquote:after {
  content: "\201D";
  display: block;
  font-size: 5.2em;
  left: 370px;
  opacity: 0.3;
  position: relative;
}

/* Navigation */
/* Rollover bg : #474745 */
/* line 247, ../sass/screen.scss */
aside nav {
  display: block;
  position: fixed;
  right: 2%;
  top: 0px;
  padding-top: 5%;
  background: url("../img/nav_bg_filet.png") repeat-y center;
  height: 100%;
  /* Home */
  /* Hier */
  /* Aujourd'hui */
  /* Demain */
  /* Tooltips generic */
}
/* line 256, ../sass/screen.scss */
aside nav h2 {
  background-color: #fffcf5;
  padding: 5px 3px 5px 5px;
}
/* line 261, ../sass/screen.scss */
aside nav ul {
  padding: 0;
}
/* line 265, ../sass/screen.scss */
aside nav ul li {
  list-style-type: none;
  height: 41px;
  padding-top: 6px;
  margin-left: -4px;
}
/* line 270, ../sass/screen.scss */
aside nav ul li a {
  height: 41px;
  width: 41px;
  display: block;
  padding-top: 6px;
  text-indent: -9999px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  border-bottom: none !important;
}
/* line 284, ../sass/screen.scss */
aside nav ul li:hover {
  background-size: 41px !important;
  cursor: pointer;
}
/* line 289, ../sass/screen.scss */
aside nav ul li.inner {
  margin-top: 0;
  height: 25px;
  width: 13px;
  left: 18px;
  position: relative;
}
/* line 296, ../sass/screen.scss */
aside nav ul li.inner a {
  height: 13px;
  width: 13px;
  margin-left: 0;
}
/* line 300, ../sass/screen.scss */
aside nav ul li.inner a div.tooltip {
  left: -100px;
  margin-top: -30px;
}
/* line 307, ../sass/screen.scss */
aside nav ul li.inner:hover {
  background-size: 13px !important;
}
/* line 312, ../sass/screen.scss */
aside nav ul li#home {
  height: 50px;
  margin-left: 8px;
}
/* line 315, ../sass/screen.scss */
aside nav ul li#home a {
  height: 17px;
  width: 17px;
  background-size: 17px !important;
  background-image: url("../img/nav/introp-credits.png");
}
/* line 321, ../sass/screen.scss */
aside nav ul li#home a div.tooltip {
  margin-top: -30px;
}
/* line 328, ../sass/screen.scss */
aside nav ul li#hier a {
  background-image: url("../img/nav/hier.png");
}
/* line 332, ../sass/screen.scss */
aside nav ul li.hier.inner a {
  background-image: url("../img/nav/hier_off.png");
}
/* line 336, ../sass/screen.scss */
aside nav ul li#hier_1 {
  margin-top: 15px;
}
/* line 340, ../sass/screen.scss */
aside nav ul li.hier.inner.active a {
  background-image: url("../img/nav/hier_active.png");
}
/* line 345, ../sass/screen.scss */
aside nav ul li#aujourdhui a {
  background-image: url("../img/nav/aujourdhui.png");
}
/* line 349, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner a {
  background-image: url("../img/nav/aujourdhui_off.png");
}
/* line 353, ../sass/screen.scss */
aside nav ul li#aujourdhui_1 {
  margin-top: 15px;
}
/* line 357, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner.active a {
  background-image: url("../img/nav/aujourdhui_active.png");
}
/* line 362, ../sass/screen.scss */
aside nav ul li#demain a {
  background-image: url("../img/nav/futur.png");
}
/* line 366, ../sass/screen.scss */
aside nav ul li.demain.inner a {
  background-image: url("../img/nav/futur_off.png");
}
/* line 370, ../sass/screen.scss */
aside nav ul li#demain_1 {
  margin-top: 15px;
}
/* line 374, ../sass/screen.scss */
aside nav ul li.demain.inner.active a {
  background-image: url("../img/nav/futur_active.png");
}
/* line 379, ../sass/screen.scss */
aside nav div.tooltip {
  background-color: #474745;
  border-radius: 3px 3px 3px 3px;
  color: White;
  height: 30px;
  left: -100px;
  margin-top: -20px;
  position: absolute;
  width: 88px;
  z-index: 1000000;
}
/* line 390, ../sass/screen.scss */
aside nav div.tooltip span {
  color: #FFFFFF;
  display: block;
  font-size: 0.8em;
  margin: 6px;
  text-align: center;
  text-indent: 0;
  text-shadow: 0 1px 0 black;
}
/* line 401, ../sass/screen.scss */
aside nav div.tooltip:after {
  border-color: transparent transparent transparent #474745;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 0;
}

/* Articles Aside */
/* **** HOME **** */
/* line 425, ../sass/screen.scss */
article#home header {
  margin: 20px 25%;
}
/* line 428, ../sass/screen.scss */
article#home header h1, article#home header h2, article#home header h3 {
  color: #181818;
}
/* line 432, ../sass/screen.scss */
article#home header h1 {
  text-align: center;
  line-height: 1.3em;
  width: 720px;
}
/* line 438, ../sass/screen.scss */
article#home header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 650px;
  margin: 0;
  color: #8d8a82;
}
/* line 448, ../sass/screen.scss */
article#home p.heading {
  display: inline-block;
  margin: 0;
  width: 40%;
}
/* line 453, ../sass/screen.scss */
article#home aside {
  float: right;
  width: 40%;
}
/* line 457, ../sass/screen.scss */
article#home aside.placeholder {
  height: 300px;
}
/* line 461, ../sass/screen.scss */
article#home div#linecut {
  background-color: #3fa9f5;
  margin: 40px 50%;
}
/* line 466, ../sass/screen.scss */
article#home blockquote {
  width: 650px;
  padding: 0 18%;
}
/* line 471, ../sass/screen.scss */
article#home img {
  display: inline-block;
}

/* **** HIER **** */
/* line 477, ../sass/screen.scss */
article#hier_au_commencement header {
  margin: 20px 21%;
}
/* line 480, ../sass/screen.scss */
article#hier_au_commencement header h1, article#hier_au_commencement header h2, article#hier_au_commencement header h3 {
  color: #fbbb27;
}
/* line 484, ../sass/screen.scss */
article#hier_au_commencement header h1 {
  text-align: center;
  line-height: 1.3em;
  width: 650px;
}
/* line 490, ../sass/screen.scss */
article#hier_au_commencement header h2 {
  text-align: center;
  line-height: 1.3em;
  width: 650px;
}
/* line 496, ../sass/screen.scss */
article#hier_au_commencement header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 650px;
  margin: 0;
  color: #8d8a82;
}
/* line 506, ../sass/screen.scss */
article#hier_au_commencement p.heading {
  display: inline-block;
  margin: 0;
  width: 40%;
}
/* line 511, ../sass/screen.scss */
article#hier_au_commencement aside {
  float: right;
  width: 40%;
}
/* line 516, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div {
  display: inline-block;
}
/* line 519, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div#tete {
  background: url("../img/hiroshii/_hiroshii_tete.png") center center no-repeat;
  height: 183px;
  left: 70px;
  position: relative;
  top: -462px;
  width: 281px;
  animation: 10s linear 0s alternate none infinite hiroshii;
  -webkit-animation: 10s linear 0s alternate none infinite hiroshii;
}
/* line 530, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div#corps {
  background: url("../img/hiroshii/_hiroshii_corps.png") center center no-repeat;
  width: 406px;
  height: 375px;
}
/* line 539, ../sass/screen.scss */
article#hier_au_commencement div#linecut {
  background-color: #fbbb27;
  margin: 40px 43%;
}

/* **** HIER : L'INTERFACE GRAPHIQUE **** */
/* line 548, ../sass/screen.scss */
article#hier_interface_graphique header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 553, ../sass/screen.scss */
article#hier_interface_graphique header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 559, ../sass/screen.scss */
article#hier_interface_graphique p {
  display: inline-block;
  margin: 0;
}
/* line 563, ../sass/screen.scss */
article#hier_interface_graphique p.left {
  width: 30%;
  float: left;
}
/* line 568, ../sass/screen.scss */
article#hier_interface_graphique p.right {
  width: 30%;
}
/* line 572, ../sass/screen.scss */
article#hier_interface_graphique aside {
  display: inline-block;
  width: 30%;
}
/* line 575, ../sass/screen.scss */
article#hier_interface_graphique aside div.animation {
  float: left;
}
/* line 580, ../sass/screen.scss */
article#hier_interface_graphique aside.placeholder {
  height: 200px;
}
/* line 583, ../sass/screen.scss */
article#hier_interface_graphique div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

/* **** AUJOURDH'UI **** */
/* line 591, ../sass/screen.scss */
article#denosjours header {
  margin: 20px 21%;
}
/* line 593, ../sass/screen.scss */
article#denosjours header h1, article#denosjours header h2, article#denosjours header h3 {
  color: #e64552;
}
/* line 596, ../sass/screen.scss */
article#denosjours header h1 {
  text-align: center;
  line-height: 1.3em;
}
/* line 601, ../sass/screen.scss */
article#denosjours header h2 {
  text-align: center;
  line-height: 1.3em;
  width: 120%;
}
/* line 607, ../sass/screen.scss */
article#denosjours header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 670px;
  margin: 0 9%;
  color: #8d8a82;
}
/* line 618, ../sass/screen.scss */
article#denosjours div#linecut {
  margin: 40px 49%;
}
/* line 622, ../sass/screen.scss */
article#denosjours p.heading {
  display: inline-block;
  margin-left: 40px;
  margin-top: 50px;
  width: 33%;
}
/* line 627, ../sass/screen.scss */
article#denosjours p.heading a {
  font-size: 0.85em;
}
/* line 632, ../sass/screen.scss */
article#denosjours aside {
  width: 45%;
  float: right;
}
/* line 636, ../sass/screen.scss */
article#denosjours aside div.animation {
  background: url("../img/reactable/reactable.gif") center center no-repeat;
  display: block;
  height: 341px;
  width: 341px;
}

/* **** PIXELSENSE **** */
/* line 648, ../sass/screen.scss */
article#pixel_sense header h1, article#pixel_sense header h2, article#pixel_sense header h3 {
  color: #e64552;
}
/* line 652, ../sass/screen.scss */
article#pixel_sense div.linecut {
  margin-bottom: 30px;
  margin-top: 40px;
}
/* line 656, ../sass/screen.scss */
article#pixel_sense p.heading {
  font-weight: 700;
  font-style: italic;
  font-size: 1.1em;
}
/* line 662, ../sass/screen.scss */
article#pixel_sense p.left {
  width: 40%;
}
/* line 665, ../sass/screen.scss */
article#pixel_sense p.right {
  width: 40%;
}
/* line 668, ../sass/screen.scss */
article#pixel_sense a.small {
  font-size: 0.85em;
}
/* line 672, ../sass/screen.scss */
article#pixel_sense aside {
  margin-top: 30px;
  height: 600px;
}
/* line 675, ../sass/screen.scss */
article#pixel_sense aside div.animation {
  background: url("../img/reactable/reactable.gif") center center no-repeat;
  display: block;
  height: 341px;
  width: 341px;
}
/* line 682, ../sass/screen.scss */
article#pixel_sense aside div#surface {
  background: url("../img/pixel_sense/_pixelsense_table.png") center center no-repeat;
  width: 628px;
  height: 428px;
  display: inline-block;
}
/* line 687, ../sass/screen.scss */
article#pixel_sense aside div#surface div#text {
  background: url("../img/pixel_sense/_pixelsense_fleche.png") center center no-repeat;
  width: 201px;
  height: 104px;
  left: 210px;
  position: relative;
  top: 160px;
}
/* line 696, ../sass/screen.scss */
article#pixel_sense aside div#surface div.dropzone {
  height: 368px;
  left: 30px;
  position: relative;
  top: -74px;
  width: 568px;
}
/* line 703, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description {
  position: relative;
  left: 205px;
  position: relative;
  top: -410px;
  width: 390px;
  height: 330px;
  overflow: hidden;
}
/* line 711, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
}
/* line 719, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div#crayon {
  left: 20%;
  position: relative;
  top: 35%;
}
/* line 724, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div.active {
  opacity: 1;
  height: auto;
}
/* line 733, ../sass/screen.scss */
article#pixel_sense aside div#objets {
  width: 36%;
  float: right;
}
/* line 737, ../sass/screen.scss */
article#pixel_sense aside div#objets ul {
  list-style-type: none;
}
/* line 741, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag {
  z-index: 110;
  position: absolute;
}
/* line 746, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag:hover {
  cursor: move;
}
/* line 750, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag.dropped:hover {
  cursor: default;
}
/* line 754, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon {
  width: 21px;
  height: 143px;
  margin-left: 49px;
}
/* line 758, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon img {
  transform: rotate(310deg);
}
/* line 762, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon div.dropped img {
  transform: none;
}
/* line 768, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card {
  width: 69px;
  height: 112px;
  margin-left: 200px;
  margin-top: -28px;
}
/* line 773, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card img {
  transform: rotate(20deg);
}
/* line 777, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card div.dropped img {
  transform: none;
}
/* line 784, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable {
  width: 87px;
  height: 156px;
  margin-left: 21px;
  margin-top: -39px;
}
/* line 789, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable img {
  transform: rotate(350deg);
}
/* line 793, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable div.dropped img {
  transform: none;
}

/* **** EDITIONS VOLUMIQUES **** */
/* line 805, ../sass/screen.scss */
article#editions_volumiques {
  z-index: 998px;
  background-position: fixed;
}
/* line 809, ../sass/screen.scss */
article#editions_volumiques div#nouveauxjeux {
  margin-top: 90px;
}
/* line 813, ../sass/screen.scss */
article#editions_volumiques div#linecut {
  background-color: #e64552;
}
/* line 817, ../sass/screen.scss */
article#editions_volumiques header {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 30px;
}
/* line 822, ../sass/screen.scss */
article#editions_volumiques header h1, article#editions_volumiques header h2, article#editions_volumiques header h3 {
  color: #e64552;
}
/* line 827, ../sass/screen.scss */
article#editions_volumiques header h1 {
  font-size: 4.35em;
  color: #e64552;
  margin: 20px 0;
  display: inline-block;
}
/* line 834, ../sass/screen.scss */
article#editions_volumiques header span {
  font-size: 1.35em;
  color: black;
  font-weight: 700;
  color: black;
}
/* line 841, ../sass/screen.scss */
article#editions_volumiques header span.baseline {
  display: inline-block;
}
/* line 845, ../sass/screen.scss */
article#editions_volumiques p {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.6em;
  width: 40%;
  text-justify: newspaper;
}
/* line 852, ../sass/screen.scss */
article#editions_volumiques span.title {
  color: black;
  display: block;
  font-size: 1.65em;
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 861, ../sass/screen.scss */
article#editions_volumiques p.heading {
  font-size: 1em;
  width: 65%;
  font-weight: 700;
  font-style: italic;
}
/* line 868, ../sass/screen.scss */
article#editions_volumiques aside {
  width: 50%;
  float: right;
}
/* line 872, ../sass/screen.scss */
article#editions_volumiques aside p {
  width: 80%;
}
/* line 878, ../sass/screen.scss */
article#editions_volumiques aside div.animation #livre {
  z-index: 89;
  position: relative;
}
/* line 883, ../sass/screen.scss */
article#editions_volumiques aside div.animation #fleches {
  z-index: 90;
  margin-left: -155px;
  animation: rotate 6s infinite linear;
  -webkit-animation: rotate 6s infinite linear;
  position: relative;
}
/* line 891, ../sass/screen.scss */
article#editions_volumiques aside div.animation #ipad {
  z-index: 91;
  margin-left: -40px;
  position: relative;
}
/* line 901, ../sass/screen.scss */
article#editions_volumiques div.content#realisations p.center span {
  margin-left: 16px;
  width: 100%;
}
/* line 906, ../sass/screen.scss */
article#editions_volumiques div.content#realisations aside {
  margin-top: 50px;
}
/* line 910, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div#fleche_pointille {
  background: url("../img/editions_volumiques/_realisation_fleche_pointilles.png") center center no-repeat;
  width: 323px;
  height: 124px;
  left: 154px;
  position: relative;
  top: 270px;
}
/* line 919, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions {
  width: 47%;
  float: left;
}
/* line 923, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li {
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px 0 100px;
}
/* line 928, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag {
  z-index: 110;
  position: absolute;
}
/* line 932, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag:hover {
  cursor: move;
}
/* line 935, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag.dropped:hover {
  cursor: default;
}
/* line 938, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description {
  margin-top: 30px;
  margin-left: 200px;
}
/* line 941, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description span.title {
  font-size: 1em;
  letter-spacing: 0;
  padding-bottom: 0;
}
/* line 946, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description p {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
/* line 954, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion1 {
  height: 145px;
  background-image: url("../img/editions_volumiques/_realisation_pion1_trou.png");
}
/* line 959, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion2 {
  height: 155px;
  background-image: url("../img/editions_volumiques/_realisation_pion2_trou.png");
}
/* line 962, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion2 div#pointilles {
  background: url("../img/editions_volumiques/_realisation_contours_pointilles.png") center center no-repeat;
  width: 125px;
  height: 166px;
  display: block;
  position: absolute;
  margin: -7px 0 0 -7px;
}
/* line 972, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion3 {
  height: 114px;
  background-image: url("../img/editions_volumiques/_realisation_pion3_trou.png");
}
/* line 977, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation {
  width: 40%;
  display: inline-block;
}
/* line 981, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad {
  background: url("../img/editions_volumiques/_realisation_ipad.png") no-repeat center center;
  width: 438px;
  height: 639px;
  z-index: 100;
  position: relative;
}
/* line 988, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div#dropzone {
  width: 377px;
  height: 250px;
  position: relative;
  top: 50px;
  left: 30px;
}
/* line 996, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description {
  top: 250px;
  position: relative;
  overflow: hidden;
}
/* line 1000, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description span.title {
  font-size: 1.3em;
  color: #e64552;
  margin-left: 40%;
  width: 130px;
}
/* line 1007, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description p {
  font-size: 1em;
  margin-left: 10%;
  text-align: center;
}
/* line 1013, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
}
/* line 1020, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div.active {
  opacity: 1;
  height: auto;
}

/* **** COMMERCIALISATION **** */
/* line 1032, ../sass/screen.scss */
article#commercialisation header h3 {
  color: #e64552;
}
/* line 1036, ../sass/screen.scss */
article#commercialisation p.left {
  width: 35%;
  margin-top: 60px;
}
/* line 1041, ../sass/screen.scss */
article#commercialisation p.right {
  width: 30%;
}
/* line 1046, ../sass/screen.scss */
article#commercialisation p span.title {
  font-size: 1.3em;
}
/* line 1050, ../sass/screen.scss */
article#commercialisation p a.small {
  font-size: 0.85em;
}
/* line 1056, ../sass/screen.scss */
article#commercialisation aside img#cache {
  z-index: 120;
  left: -30px;
  position: relative;
  top: 30px;
}
/* line 1062, ../sass/screen.scss */
article#commercialisation aside div#epawn_shadow {
  width: 504px;
  height: 50px;
  background-image: url("../img/commercialisation/_epawn_shadow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 1069, ../sass/screen.scss */
article#commercialisation aside div.animation {
  background-image: url("../img/commercialisation/_epawn_bleu.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 495px;
  height: 311px;
}
/* line 1076, ../sass/screen.scss */
article#commercialisation aside div.animation div {
  width: 53px;
  height: 90px;
  left: 437px;
  position: relative;
  top: 148px;
}
/* line 1083, ../sass/screen.scss */
article#commercialisation aside div.animation div:hover {
  cursor: pointer;
}

/* **** LES ENJEUX **** */
/* line 1093, ../sass/screen.scss */
article#enjeux header div.time_bubble {
  background-image: url("../img/enjeux.png");
}
/* line 1098, ../sass/screen.scss */
article#enjeux header h3 {
  color: #e64552;
}
/* line 1101, ../sass/screen.scss */
article#enjeux header span.baseline {
  display: block;
}
/* line 1106, ../sass/screen.scss */
article#enjeux blockquote {
  color: #e64552;
  width: 650px;
  padding: 0 18%;
  line-height: 1.2em;
  font-size: 2em;
}
/* line 1113, ../sass/screen.scss */
article#enjeux blockquote span.author {
  display: block;
  margin-top: 10px;
  font-size: 0.5em;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.03em;
  text-align: right;
  color: #8d8a82;
}
/* line 1120, ../sass/screen.scss */
article#enjeux blockquote span.author strong {
  font-style: normal;
  font-weight: 700;
  color: #181818;
}
/* line 1128, ../sass/screen.scss */
article#enjeux blockquote:after {
  left: 280px;
  top: -30px;
}
/* line 1133, ../sass/screen.scss */
article#enjeux blockquote:before {
  left: -350px;
}
/* line 1137, ../sass/screen.scss */
article#enjeux p.left {
  width: 30%;
  margin-top: 60px;
}
/* line 1142, ../sass/screen.scss */
article#enjeux p.right {
  width: 40%;
  margin-top: 40px;
}
/* line 1147, ../sass/screen.scss */
article#enjeux p.heading {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 50px;
}
/* line 1153, ../sass/screen.scss */
article#enjeux p span.title {
  font-size: 1.3em;
}
/* line 1157, ../sass/screen.scss */
article#enjeux p a.small {
  font-size: 0.85em;
}
/* line 1162, ../sass/screen.scss */
article#enjeux aside.left {
  width: 530px;
  height: 400px;
  margin-left: 50px;
}
/* line 1167, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette {
  width: 245px;
  height: 346px;
  background: url("../img/enjeux_educ/_enjeuxeduc_ipad.png") center center no-repeat;
  display: inline-block;
}
/* line 1173, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description {
  overflow: hidden;
  width: 245px;
  height: 270px;
}
/* line 1177, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  height: 0;
  opacity: 0;
}
/* line 1185, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div.active {
  opacity: 1;
  height: auto;
}
/* line 1189, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#mini_lapin {
  margin-left: 100px;
  margin-top: 30px;
}
/* line 1194, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#illu_lapin {
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* line 1200, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#mini_renard {
  margin-left: 100px;
  margin-top: 0;
}
/* line 1205, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#illu_renard {
  margin-left: 40px;
  margin-top: 0px;
}
/* line 1212, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces {
  vertical-align: top;
  display: inline-block;
  list-style-type: none;
  margin-left: 50px;
}
/* line 1218, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li {
  margin-bottom: 30px;
}
/* line 1220, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li img {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
/* line 1225, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li img.desactivate {
  opacity: 0;
}
/* line 1230, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li:hover {
  cursor: pointer;
}
/* line 1234, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li#lapin {
  width: 88px;
  height: 136px;
  background: url("../img/enjeux_educ/_enjeuxeduc_trou_lapin.png") center center no-repeat;
}
/* line 1240, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li#renard {
  width: 94px;
  height: 126px;
  background: url("../img/enjeux_educ/_enjeuxeduc_trou_renard.png") center center no-repeat;
}
/* line 1249, ../sass/screen.scss */
article#enjeux aside.right {
  width: 60%;
}
/* line 1252, ../sass/screen.scss */
article#enjeux aside.right div.animation div {
  display: inline-block;
  float: left;
}
/* line 1256, ../sass/screen.scss */
article#enjeux aside.right div.animation div#table {
  background: url("../img/enjeux_pro/_enjeuxpro_table.png") center center no-repeat;
  height: 251px;
  width: 338px;
}
/* line 1261, ../sass/screen.scss */
article#enjeux aside.right div.animation div#main {
  background: url("../img/enjeux_pro/_enjeuxpro_main.png") no-repeat scroll center center transparent;
  height: 136px;
  left: 170px;
  position: relative;
  top: -190px;
  width: 405px;
  z-index: 101;
}
/* line 1270, ../sass/screen.scss */
article#enjeux aside.right div.animation div#cache {
  background: url("../img/enjeux_pro/_enjeuxpro_cache.png") no-repeat scroll center center transparent;
  height: 230px;
  left: 120px;
  position: relative;
  top: -220px;
  width: 81px;
  z-index: 102;
}

/* Animations */
@keyframes levitate {
  /* line 1285, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 1288, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@-webkit-keyframes levitate {
  /* line 1294, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 1297, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@keyframes rotate {
  /* line 1304, ../sass/screen.scss */
  from {
    transform: rotate(359deg);
  }

  /* line 1307, ../sass/screen.scss */
  to {
    transform: rotate(0);
  }
}

@-webkit-keyframes rotate {
  /* line 1313, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(359deg);
  }

  /* line 1316, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(0);
  }
}

@keyframes hiroshii {
  /* line 1322, ../sass/screen.scss */
  from {
    transform: rotate(-10deg);
  }

  /* line 1325, ../sass/screen.scss */
  to {
    transform: rotate(10deg);
  }
}

@-webkit-keyframes hiroshii {
  /* line 1331, ../sass/screen.scss */
  from {
    transform: rotate(-10deg);
  }

  /* line 1334, ../sass/screen.scss */
  to {
    transform: rotate(10deg);
  }
}
