/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Colors */
/* HTML Generic */
/* line 14, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 19, ../sass/screen.scss */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  background-color: #FFF3DF;
  background-image: url("../img/background_pattern.gif");
}

/* line 28, ../sass/screen.scss */
div.wrapper {
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/screen.scss */
::selection {
  background: #ffb7b7;
  /* Safari */
}

/* line 37, ../sass/screen.scss */
::-moz-selection {
  background: rgba(150, 0, 0, 0.4);
  /* Safari */
}

/* Links */
/* line 42, ../sass/screen.scss */
a, a:hover, a:active, a:visited, a:link {
  color: #696969;
  text-decoration: none;
  border-bottom: 1px solid #696969;
}

/* line 48, ../sass/screen.scss */
section {
  margin: 0 0 10% 0;
}

/* line 52, ../sass/screen.scss */
.placeholder {
  background-color: slategray;
  color: white;
  border: 2px dotted black;
}

/* Headings */
/* line 59, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: "BebasRegular";
  letter-spacing: 0.09em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}

/* line 68, ../sass/screen.scss */
.left {
  float: left;
}

/* line 72, ../sass/screen.scss */
.right {
  float: right;
}

/* line 76, ../sass/screen.scss */
.center {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
}

/* line 82, ../sass/screen.scss */
.full {
  width: 100% !important;
  float: none !important;
}

/* Site title */
/* line 88, ../sass/screen.scss */
h1 {
  font-size: 3.85em;
  /* 41pt */
}

/* Articles Generic */
/* line 93, ../sass/screen.scss */
div.articles {
  color: #696969;
}
/* line 96, ../sass/screen.scss */
div.articles article {
  width: auto;
  height: 100%;
  -webkit-background-size: cover;
  /* pour Chrome et Safari */
  -moz-background-size: cover;
  /* pour Firefox */
  -o-background-size: cover;
  /* pour Opera */
  background-size: cover;
  /* version standardisée */
  padding-top: 40px;
}
/* line 105, ../sass/screen.scss */
div.articles article h2 {
  color: #ec6044;
  font-size: 2.6em;
  /* 22pt */
  margin-bottom: 20px;
}
/* line 111, ../sass/screen.scss */
div.articles article .content {
  margin-left: 5%;
  width: 80%;
}

/* line 118, ../sass/screen.scss */
div#linecut {
  background-color: #e64552;
  z-index: 99;
  width: 141px;
  height: 3px;
  margin-bottom: 30px;
}

/* line 126, ../sass/screen.scss */
.sep {
  background: url("../img/bg_separator.png") center center no-repeat;
  width: 955px;
  height: 18px;
  margin: 80px 15% 60px;
}

/* line 133, ../sass/screen.scss */
div.time_bubble {
  width: 174px;
  height: 118px;
  display: inline-block;
  background-image: url("../img/time_bubble2.png");
  vertical-align: top;
  background-repeat: no-repeat;
}
/* line 141, ../sass/screen.scss */
div.time_bubble span#year {
  color: #FFFFFF;
  font-family: "BebasRegular";
  font-size: 1.9em;
  font-weight: 400;
  left: 31px;
  position: relative;
  top: 46px;
  z-index: 98;
}
/* line 151, ../sass/screen.scss */
div.time_bubble div#line {
  background-color: #181818;
  display: inline-block;
  height: 3px;
  left: -27px;
  position: relative;
  top: 36px;
  width: 70px;
  z-index: 99;
}

/* line 163, ../sass/screen.scss */
header h1 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
}

/* line 169, ../sass/screen.scss */
header span {
  font-size: 1.35em;
  font-weight: 700;
  color: black;
}

/* line 175, ../sass/screen.scss */
header span.baseline {
  display: inline-block;
  margin-left: 175px;
}

/* Navigation */
/* Rollover bg : #474745 */
/* line 184, ../sass/screen.scss */
aside nav {
  display: block;
  position: fixed;
  right: 2%;
  top: 0px;
  padding-top: 5%;
  background: url("../img/nav_bg_filet.png") repeat-y center;
  height: 100%;
  /* Home */
  /* Hier */
  /* Aujourd'hui */
  /* Demain */
  /* Tooltips generic */
}
/* line 193, ../sass/screen.scss */
aside nav h2 {
  background-color: #fffcf5;
  padding: 5px 3px 5px 5px;
}
/* line 198, ../sass/screen.scss */
aside nav ul {
  padding: 0;
}
/* line 202, ../sass/screen.scss */
aside nav ul li {
  list-style-type: none;
  height: 41px;
  padding-top: 6px;
  margin-left: -4px;
}
/* line 207, ../sass/screen.scss */
aside nav ul li a {
  height: 41px;
  width: 41px;
  display: block;
  padding-top: 6px;
  text-indent: -9999px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  border-bottom: none !important;
}
/* line 221, ../sass/screen.scss */
aside nav ul li:hover {
  background-size: 41px !important;
  cursor: pointer;
}
/* line 226, ../sass/screen.scss */
aside nav ul li.inner {
  margin-top: 0;
  height: 25px;
  width: 13px;
  left: 18px;
  position: relative;
}
/* line 233, ../sass/screen.scss */
aside nav ul li.inner a {
  height: 13px;
  width: 13px;
  margin-left: 0;
}
/* line 237, ../sass/screen.scss */
aside nav ul li.inner a div.tooltip {
  left: -100px;
  margin-top: -30px;
}
/* line 244, ../sass/screen.scss */
aside nav ul li.inner:hover {
  background-size: 13px !important;
}
/* line 249, ../sass/screen.scss */
aside nav ul li#home {
  height: 50px;
  margin-left: 8px;
}
/* line 252, ../sass/screen.scss */
aside nav ul li#home a {
  height: 17px;
  width: 17px;
  background-size: 17px !important;
  background-image: url("../img/nav/introp-credits.png");
}
/* line 258, ../sass/screen.scss */
aside nav ul li#home a div.tooltip {
  margin-top: -30px;
}
/* line 265, ../sass/screen.scss */
aside nav ul li#hier a {
  background-image: url("../img/nav/hier.png");
}
/* line 269, ../sass/screen.scss */
aside nav ul li.hier.inner a {
  background-image: url("../img/nav/hier_off.png");
}
/* line 273, ../sass/screen.scss */
aside nav ul li#hier_1 {
  margin-top: 15px;
}
/* line 277, ../sass/screen.scss */
aside nav ul li.hier.inner.active a {
  background-image: url("../img/nav/hier_active.png");
}
/* line 282, ../sass/screen.scss */
aside nav ul li#aujourdhui a {
  background-image: url("../img/nav/aujourdhui.png");
}
/* line 286, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner a {
  background-image: url("../img/nav/aujourdhui_off.png");
}
/* line 290, ../sass/screen.scss */
aside nav ul li#aujourdhui_1 {
  margin-top: 15px;
}
/* line 294, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner.active a {
  background-image: url("../img/nav/aujourdhui_active.png");
}
/* line 299, ../sass/screen.scss */
aside nav ul li#demain a {
  background-image: url("../img/nav/futur.png");
}
/* line 303, ../sass/screen.scss */
aside nav ul li.demain.inner a {
  background-image: url("../img/nav/futur_off.png");
}
/* line 307, ../sass/screen.scss */
aside nav ul li#demain_1 {
  margin-top: 15px;
}
/* line 311, ../sass/screen.scss */
aside nav ul li.demain.inner.active a {
  background-image: url("../img/nav/futur_active.png");
}
/* line 316, ../sass/screen.scss */
aside nav div.tooltip {
  background-color: #474745;
  border-radius: 3px 3px 3px 3px;
  color: White;
  height: 30px;
  left: -100px;
  margin-top: -20px;
  position: absolute;
  width: 88px;
  z-index: 1000000;
}
/* line 327, ../sass/screen.scss */
aside nav div.tooltip span {
  color: #FFFFFF;
  display: block;
  font-size: 0.8em;
  margin: 6px;
  text-align: center;
  text-indent: 0;
  text-shadow: 0 1px 0 black;
}
/* line 338, ../sass/screen.scss */
aside nav div.tooltip:after {
  border-color: transparent transparent transparent #474745;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 0;
}

/* Articles Aside */
/* **** HIER **** */
/* line 362, ../sass/screen.scss */
article#home header {
  margin: 20px 21%;
}
/* line 365, ../sass/screen.scss */
article#home header h1 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
  width: 650px;
}
/* line 371, ../sass/screen.scss */
article#home header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 650px;
  margin: 0;
  color: #8d8a82;
}
/* line 381, ../sass/screen.scss */
article#home p.heading {
  display: inline-block;
  margin: 0;
  width: 40%;
}
/* line 386, ../sass/screen.scss */
article#home aside {
  float: right;
  width: 40%;
}
/* line 390, ../sass/screen.scss */
article#home aside.placeholder {
  height: 300px;
}
/* line 394, ../sass/screen.scss */
article#home div#linecut {
  background-color: #fbbb27;
  margin: 40px 43%;
}

/* **** HIER : L'INTERFACE GRAPHIQUE **** */
/* line 403, ../sass/screen.scss */
article#hier_interface_graphique header h1 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 408, ../sass/screen.scss */
article#hier_interface_graphique header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 414, ../sass/screen.scss */
article#hier_interface_graphique p {
  display: inline-block;
  margin: 0;
}
/* line 418, ../sass/screen.scss */
article#hier_interface_graphique p.left {
  width: 30%;
  float: left;
}
/* line 423, ../sass/screen.scss */
article#hier_interface_graphique p.right {
  width: 30%;
}
/* line 427, ../sass/screen.scss */
article#hier_interface_graphique aside {
  display: inline-block;
  width: 30%;
}
/* line 430, ../sass/screen.scss */
article#hier_interface_graphique aside div.animation {
  float: left;
}
/* line 435, ../sass/screen.scss */
article#hier_interface_graphique aside.placeholder {
  height: 200px;
}
/* line 438, ../sass/screen.scss */
article#hier_interface_graphique div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

/* **** AUJOURDH'UI **** */
/* line 445, ../sass/screen.scss */
article#editions_volumiques {
  z-index: 998px;
  background-position: fixed;
}
/* line 449, ../sass/screen.scss */
article#editions_volumiques div#nouveauxjeux {
  margin-top: 90px;
}
/* line 453, ../sass/screen.scss */
article#editions_volumiques div#linecut {
  background-color: #e64552;
}
/* line 457, ../sass/screen.scss */
article#editions_volumiques header {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 30px;
}
/* line 463, ../sass/screen.scss */
article#editions_volumiques header h1 {
  font-size: 4.35em;
  color: #e64552;
  margin: 20px 0;
  display: inline-block;
}
/* line 470, ../sass/screen.scss */
article#editions_volumiques header span {
  font-size: 1.35em;
  color: black;
  font-weight: 700;
  color: black;
}
/* line 477, ../sass/screen.scss */
article#editions_volumiques header span.baseline {
  display: inline-block;
  margin-left: 145px;
}
/* line 482, ../sass/screen.scss */
article#editions_volumiques p {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.6em;
  width: 40%;
  text-justify: newspaper;
}
/* line 489, ../sass/screen.scss */
article#editions_volumiques span.title {
  color: black;
  display: block;
  font-size: 1.65em;
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 498, ../sass/screen.scss */
article#editions_volumiques p.heading {
  font-size: 1em;
  width: 65%;
  font-weight: 700;
  font-style: italic;
}
/* line 505, ../sass/screen.scss */
article#editions_volumiques aside {
  width: 50%;
  float: right;
}
/* line 509, ../sass/screen.scss */
article#editions_volumiques aside p {
  width: 80%;
}
/* line 515, ../sass/screen.scss */
article#editions_volumiques aside div.animation #livre {
  z-index: 89;
  position: relative;
}
/* line 520, ../sass/screen.scss */
article#editions_volumiques aside div.animation #fleches {
  z-index: 90;
  margin-left: -155px;
  animation: rotate 6s infinite linear;
  -webkit-animation: rotate 6s infinite linear;
  position: relative;
}
/* line 528, ../sass/screen.scss */
article#editions_volumiques aside div.animation #ipad {
  z-index: 91;
  margin-left: -40px;
  position: relative;
}
/* line 537, ../sass/screen.scss */
article#editions_volumiques div.content#realisations aside {
  margin-top: 50px;
}
/* line 540, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions {
  width: 50%;
  float: left;
}
/* line 543, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li {
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 50px 0px;
}
/* line 548, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag {
  z-index: 110;
  position: absolute;
}
/* line 552, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag:hover {
  cursor: move;
}
/* line 555, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag.dropped:hover {
  cursor: default;
}
/* line 558, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description {
  margin-top: 30px;
  margin-left: 200px;
}
/* line 561, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description span.title {
  font-size: 1em;
  letter-spacing: 0;
  padding-bottom: 0;
}
/* line 566, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description a:before {
  background: url("../img/link.png") no-repeat center center #fff3df;
  width: 32px;
  height: 32px;
  border-bottom: none;
  display: inline-block;
  vertical-align: middle;
  content: "";
}
/* line 575, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description a {
  padding-top: 3px;
  font-style: normal;
}
/* line 579, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description p {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
/* line 587, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion1 {
  height: 145px;
  background-image: url("../img/editions_volumiques/_realisation_pion1_trou.png");
}
/* line 592, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion2 {
  height: 155px;
  background-image: url("../img/editions_volumiques/_realisation_pion2_trou.png");
}
/* line 597, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion3 {
  height: 114px;
  background-image: url("../img/editions_volumiques/_realisation_pion3_trou.png");
}
/* line 602, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation {
  width: 40%;
  display: inline-block;
}
/* line 606, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad {
  background: url("../img/editions_volumiques/_realisation_ipad.png") no-repeat center center;
  width: 438px;
  height: 639px;
  z-index: 100;
  position: relative;
}
/* line 613, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div#dropzone {
  width: 377px;
  height: 250px;
  position: relative;
  top: 50px;
  left: 30px;
}
/* line 621, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description {
  top: 250px;
  position: relative;
}
/* line 625, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description span.title {
  font-size: 1.3em;
  color: #e64552;
  margin-left: 40%;
  width: 130px;
}
/* line 632, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description p {
  font-size: 1em;
  margin-left: 10%;
  text-align: center;
}
/* line 638, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div {
  display: block;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
}
/* line 645, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div.active {
  opacity: 1;
  height: auto;
}

/* Animations */
@keyframes levitate {
  /* line 658, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 661, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@-webkit-keyframes levitate {
  /* line 667, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 670, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@keyframes rotate {
  /* line 677, ../sass/screen.scss */
  from {
    transform: rotate(359deg);
  }

  /* line 680, ../sass/screen.scss */
  to {
    transform: rotate(0);
  }
}

@-webkit-keyframes rotate {
  /* line 686, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(359deg);
  }

  /* line 689, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(0);
  }
}
