/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Colors */
/* HTML Generic */
/* line 16, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 21, ../sass/screen.scss */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  background-color: #FFF3DF;
  background-image: url("../img/background_pattern.gif");
}

/* line 30, ../sass/screen.scss */
div.wrapper {
  width: 85%;
  height: 100%;
}

/* line 36, ../sass/screen.scss */
::selection {
  background: #ffb7b7;
  /* Safari */
}

/* line 40, ../sass/screen.scss */
::-moz-selection {
  background: rgba(150, 0, 0, 0.4);
  /* Safari */
}

/* Links */
/* line 45, ../sass/screen.scss */
a, a:hover, a:active, a:visited, a:link {
  color: #696969;
  text-decoration: none;
  border-bottom: 1px solid #696969;
}

/* line 51, ../sass/screen.scss */
section {
  margin: 0 0 10% 0;
}

/* line 55, ../sass/screen.scss */
.placeholder {
  background-color: slategray;
  color: white;
  border: 2px dotted black;
}

/* Headings */
/* line 62, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: "BebasRegular";
  letter-spacing: 0.09em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}

/* line 71, ../sass/screen.scss */
.left {
  float: left;
}

/* line 75, ../sass/screen.scss */
.right {
  float: right;
}

/* line 79, ../sass/screen.scss */
.center {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
}

/* line 85, ../sass/screen.scss */
.full {
  width: 100% !important;
  float: none !important;
}

/* Site title */
/* line 91, ../sass/screen.scss */
h1 {
  font-size: 3.85em;
  /* 41pt */
}

/* Articles Generic */
/* line 96, ../sass/screen.scss */
div.articles {
  color: #696969;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 103, ../sass/screen.scss */
div.articles article {
  width: auto;
  height: 100%;
  -webkit-background-size: cover;
  /* pour Chrome et Safari */
  -moz-background-size: cover;
  /* pour Firefox */
  -o-background-size: cover;
  /* pour Opera */
  background-size: cover;
  /* version standardisée */
  padding-top: 40px;
  margin-left: 4%;
}

/* line 117, ../sass/screen.scss */
div#linecut {
  background-color: #e64552;
  z-index: 99;
  width: 141px;
  height: 3px;
  margin-bottom: 30px;
}

/* line 125, ../sass/screen.scss */
.sep {
  background: url("../img/bg_separator.png") center center no-repeat;
  width: 955px;
  height: 18px;
  margin: 80px 15% 60px;
}

/* line 132, ../sass/screen.scss */
div.time_bubble {
  width: 172px;
  height: 118px;
  display: inline-block;
  background-image: url("../img/time_bubble2.png");
  vertical-align: top;
  background-repeat: no-repeat;
}
/* line 140, ../sass/screen.scss */
div.time_bubble span#year {
  color: #FFFFFF;
  font-family: "BebasRegular";
  font-size: 1.9em;
  font-weight: 400;
  left: 31px;
  position: relative;
  top: 46px;
  z-index: 98;
}
/* line 150, ../sass/screen.scss */
div.time_bubble div#line {
  background-color: #181818;
  display: inline-block;
  height: 3px;
  left: -27px;
  position: relative;
  top: 36px;
  width: 70px;
  z-index: 99;
}

/* line 162, ../sass/screen.scss */
header h1 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 170, ../sass/screen.scss */
header h2 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 178, ../sass/screen.scss */
header h3 {
  font-size: 4.35em;
  margin: 20px 0;
  display: inline-block;
  letter-spacing: 0.015em;
  word-spacing: 0.25em;
}

/* line 186, ../sass/screen.scss */
header span {
  font-size: 1.35em;
  font-weight: 700;
  color: black;
}

/* line 192, ../sass/screen.scss */
header span.baseline {
  display: inline-block;
  margin-left: 175px;
}

/* line 197, ../sass/screen.scss */
span.title {
  color: black;
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 10px;
}

/* line 205, ../sass/screen.scss */
a.small:before {
  background: url("../img/link_red.png") no-repeat center center #fff3df;
  width: 32px;
  height: 32px;
  border-bottom: none;
  display: inline-block;
  vertical-align: middle;
  content: "";
}

/* line 214, ../sass/screen.scss */
a.small {
  padding-top: 3px;
  font-style: normal;
}

/* line 219, ../sass/screen.scss */
blockquote {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1.6em;
  font-weight: 400;
  width: 770px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 2em;
  color: #181818;
}

/* line 230, ../sass/screen.scss */
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 5.2em;
  left: -380px;
  opacity: 0.3;
  position: relative;
  top: 60px;
}

/* line 239, ../sass/screen.scss */
blockquote:after {
  content: "\201D";
  display: block;
  font-size: 5.2em;
  left: 370px;
  opacity: 0.3;
  position: relative;
}

/* Navigation */
/* Rollover bg : #474745 */
/* line 251, ../sass/screen.scss */
aside nav {
  display: block;
  position: fixed;
  right: 2%;
  top: 0px;
  padding-top: 8%;
  background: url("../img/nav_bg_filet.png") repeat-y center;
  height: 100%;
  /* Home */
  /* Hier */
  /* Aujourd'hui */
  /* Demain */
  /* Credits */
  /* Tooltips generic */
}
/* line 260, ../sass/screen.scss */
aside nav h2 {
  background-color: #fffcf5;
  padding: 5px 3px 5px 5px;
}
/* line 265, ../sass/screen.scss */
aside nav ul {
  padding: 0;
}
/* line 269, ../sass/screen.scss */
aside nav ul li {
  list-style-type: none;
  height: 41px;
  padding-top: 6px;
  margin-left: -4px;
}
/* line 274, ../sass/screen.scss */
aside nav ul li a {
  height: 41px;
  width: 41px;
  display: block;
  padding-top: 6px;
  text-indent: -9999px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  border-bottom: none !important;
}
/* line 288, ../sass/screen.scss */
aside nav ul li:hover {
  background-size: 41px !important;
  cursor: pointer;
}
/* line 293, ../sass/screen.scss */
aside nav ul li.inner {
  margin-top: 0;
  height: 25px;
  width: 13px;
  left: 18px;
  position: relative;
}
/* line 300, ../sass/screen.scss */
aside nav ul li.inner a {
  height: 13px;
  width: 13px;
  margin-left: 0;
}
/* line 304, ../sass/screen.scss */
aside nav ul li.inner a div.tooltip {
  left: -100px;
  margin-top: -30px;
}
/* line 311, ../sass/screen.scss */
aside nav ul li.inner:hover {
  background-size: 13px !important;
}
/* line 316, ../sass/screen.scss */
aside nav ul li#home {
  height: 50px;
  margin-left: 8px;
}
/* line 319, ../sass/screen.scss */
aside nav ul li#home a {
  height: 17px;
  width: 17px;
  background-size: 17px !important;
  background-image: url("../img/nav/introp-credits.png");
}
/* line 325, ../sass/screen.scss */
aside nav ul li#home a div.tooltip {
  margin-top: -30px;
}
/* line 332, ../sass/screen.scss */
aside nav ul li#hier a {
  background-image: url("../img/nav/hier.png");
}
/* line 336, ../sass/screen.scss */
aside nav ul li.hier.inner a {
  background-image: url("../img/nav/hier_off.png");
}
/* line 340, ../sass/screen.scss */
aside nav ul li#hier_1 {
  margin-top: 15px;
}
/* line 344, ../sass/screen.scss */
aside nav ul li.hier.inner.active a {
  background-image: url("../img/nav/hier_active.png");
}
/* line 349, ../sass/screen.scss */
aside nav ul li#aujourdhui a {
  background-image: url("../img/nav/aujourdhui.png");
}
/* line 353, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner a {
  background-image: url("../img/nav/aujourdhui_off.png");
}
/* line 357, ../sass/screen.scss */
aside nav ul li#aujourdhui_1 {
  margin-top: 15px;
}
/* line 362, ../sass/screen.scss */
aside nav ul li#aujourdhui_2 div.tooltip {
  width: 100px;
  left: -110px;
}
/* line 369, ../sass/screen.scss */
aside nav ul li#aujourdhui_3 div.tooltip {
  width: 120px;
  left: -130px;
}
/* line 375, ../sass/screen.scss */
aside nav ul li.aujourdhui.inner.active a {
  background-image: url("../img/nav/aujourdhui_active.png");
}
/* line 380, ../sass/screen.scss */
aside nav ul li#demain a {
  background-image: url("../img/nav/futur.png");
}
/* line 384, ../sass/screen.scss */
aside nav ul li.demain.inner a {
  background-image: url("../img/nav/futur_off.png");
}
/* line 388, ../sass/screen.scss */
aside nav ul li#demain_1 {
  margin-top: 15px;
}
/* line 392, ../sass/screen.scss */
aside nav ul li.demain.inner.active a {
  background-image: url("../img/nav/futur_active.png");
}
/* line 397, ../sass/screen.scss */
aside nav ul li#credits {
  height: 50px;
  margin-left: 8px;
}
/* line 400, ../sass/screen.scss */
aside nav ul li#credits a {
  height: 70px;
  width: 17px;
  background-size: 17px !important;
  background-image: url("../img/nav/introp-credits.png");
}
/* line 406, ../sass/screen.scss */
aside nav ul li#credits a div.tooltip {
  margin-top: 0px;
}
/* line 413, ../sass/screen.scss */
aside nav div.tooltip {
  background-color: #474745;
  border-radius: 3px 3px 3px 3px;
  color: White;
  height: 30px;
  left: -100px;
  margin-top: -20px;
  position: absolute;
  width: 88px;
  z-index: 1000000;
}
/* line 424, ../sass/screen.scss */
aside nav div.tooltip span {
  color: #FFFFFF;
  display: block;
  font-size: 0.8em;
  margin: 6px;
  text-align: center;
  text-indent: 0;
  text-shadow: 0 1px 0 black;
}
/* line 435, ../sass/screen.scss */
aside nav div.tooltip:after {
  border-color: transparent transparent transparent #474745;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 0;
}

/* Articles Aside */
/* **** HOME **** */
/* line 459, ../sass/screen.scss */
article#home header {
  margin: 20px 25%;
}
/* line 462, ../sass/screen.scss */
article#home header h1, article#home header h2, article#home header h3 {
  color: #181818;
}
/* line 466, ../sass/screen.scss */
article#home header h1 {
  text-align: center;
  line-height: 1.3em;
  width: 720px;
}
/* line 472, ../sass/screen.scss */
article#home header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 650px;
  margin: 0;
  color: #8d8a82;
}
/* line 482, ../sass/screen.scss */
article#home p.heading {
  display: inline-block;
  margin: 0;
  width: 40%;
}
/* line 487, ../sass/screen.scss */
article#home aside {
  float: right;
  width: 40%;
}
/* line 491, ../sass/screen.scss */
article#home aside.placeholder {
  height: 300px;
}
/* line 495, ../sass/screen.scss */
article#home div#linecut {
  background-color: #42c1c7;
  margin: 40px 50%;
}
/* line 500, ../sass/screen.scss */
article#home blockquote {
  width: 650px;
  padding: 0 18%;
}
/* line 505, ../sass/screen.scss */
article#home img {
  display: inline-block;
}

/* **** HIER **** */
/* line 511, ../sass/screen.scss */
article#hier_au_commencement header {
  margin: 20px 21%;
}
/* line 514, ../sass/screen.scss */
article#hier_au_commencement header h1, article#hier_au_commencement header h2, article#hier_au_commencement header h3 {
  color: #fbbb27;
}
/* line 518, ../sass/screen.scss */
article#hier_au_commencement header h1 {
  text-align: center;
  line-height: 1.3em;
  width: 650px;
}
/* line 524, ../sass/screen.scss */
article#hier_au_commencement header h2 {
  text-align: center;
  line-height: 1.3em;
  width: 650px;
}
/* line 530, ../sass/screen.scss */
article#hier_au_commencement header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 650px;
  margin: 0;
  color: #8d8a82;
}
/* line 540, ../sass/screen.scss */
article#hier_au_commencement p.heading {
  display: inline-block;
  margin: 0;
  width: 40%;
}
/* line 545, ../sass/screen.scss */
article#hier_au_commencement aside {
  float: right;
  width: 40%;
}
/* line 550, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div {
  display: inline-block;
}
/* line 554, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div#tete {
  background: url("../img/hiroshii/_hiroshii_tete.png") center center no-repeat;
  height: 117px;
  left: 40px;
  position: relative;
  top: -302px;
  width: 179px;
  animation: 2s linear 0s alternate none infinite hiroshii;
  -webkit-animation: 2s linear 0s alternate none infinite hiroshii;
  -moz-animation: 2s linear 0s alternate none infinite hiroshii;
}
/* line 566, ../sass/screen.scss */
article#hier_au_commencement aside div.animation div#corps {
  background: url("../img/hiroshii/_hiroshii_corps.png") center center no-repeat;
  width: 259px;
  height: 240px;
}
/* line 575, ../sass/screen.scss */
article#hier_au_commencement div#linecut {
  background-color: #fbbb27;
  margin: 40px 43%;
}

/* **** HIER : L'INTERFACE GRAPHIQUE **** */
/* line 584, ../sass/screen.scss */
article#hier_interface_graphique header h3 {
  color: #fbbb27;
  text-align: center;
  line-height: 1.3em;
}
/* line 589, ../sass/screen.scss */
article#hier_interface_graphique header span.baseline {
  display: block;
  font-size: 1.4em;
  font-style: normal;
}
/* line 595, ../sass/screen.scss */
article#hier_interface_graphique p {
  display: inline-block;
  margin: 0;
}
/* line 599, ../sass/screen.scss */
article#hier_interface_graphique p.left {
  width: 30%;
  float: left;
}
/* line 604, ../sass/screen.scss */
article#hier_interface_graphique p.right {
  width: 30%;
}
/* line 608, ../sass/screen.scss */
article#hier_interface_graphique aside {
  display: inline-block;
  width: 30%;
}
/* line 611, ../sass/screen.scss */
article#hier_interface_graphique aside div.animation {
  float: left;
}
/* line 616, ../sass/screen.scss */
article#hier_interface_graphique aside.placeholder {
  height: 200px;
}
/* line 619, ../sass/screen.scss */
article#hier_interface_graphique div#linecut {
  background-color: #fbbb27;
  margin-top: 30px;
}

/* **** AUJOURDH'UI **** */
/* line 627, ../sass/screen.scss */
article#denosjours header {
  margin: 20px 21%;
}
/* line 629, ../sass/screen.scss */
article#denosjours header h1, article#denosjours header h2, article#denosjours header h3 {
  color: #e64552;
}
/* line 632, ../sass/screen.scss */
article#denosjours header h1 {
  text-align: center;
  line-height: 1.3em;
}
/* line 637, ../sass/screen.scss */
article#denosjours header h2 {
  text-align: center;
  line-height: 1.3em;
  width: 120%;
}
/* line 643, ../sass/screen.scss */
article#denosjours header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 670px;
  margin: 0 9%;
  color: #8d8a82;
}
/* line 654, ../sass/screen.scss */
article#denosjours div#linecut {
  margin: 40px 49%;
}
/* line 658, ../sass/screen.scss */
article#denosjours p.heading {
  display: inline-block;
  margin-left: 40px;
  margin-top: 50px;
  width: 33%;
}
/* line 663, ../sass/screen.scss */
article#denosjours p.heading a {
  font-size: 0.85em;
}
/* line 668, ../sass/screen.scss */
article#denosjours aside {
  width: 45%;
  float: right;
}
/* line 672, ../sass/screen.scss */
article#denosjours aside div.animation {
  background: url("../img/reactable/reactable.gif") center center no-repeat;
  display: block;
  height: 341px;
  width: 341px;
}

/* **** PIXELSENSE **** */
/* line 684, ../sass/screen.scss */
article#pixel_sense header h1, article#pixel_sense header h2, article#pixel_sense header h3 {
  color: #e64552;
}
/* line 688, ../sass/screen.scss */
article#pixel_sense div.linecut {
  margin-bottom: 30px;
  margin-top: 40px;
}
/* line 692, ../sass/screen.scss */
article#pixel_sense p.heading {
  font-weight: 700;
  font-style: italic;
  font-size: 1.1em;
}
/* line 698, ../sass/screen.scss */
article#pixel_sense p.left {
  width: 40%;
}
/* line 701, ../sass/screen.scss */
article#pixel_sense p.right {
  width: 40%;
}
/* line 704, ../sass/screen.scss */
article#pixel_sense a.small {
  font-size: 0.85em;
}
/* line 708, ../sass/screen.scss */
article#pixel_sense aside {
  margin-top: 30px;
  height: 600px;
}
/* line 711, ../sass/screen.scss */
article#pixel_sense aside div.animation {
  background: url("../img/reactable/reactable.gif") center center no-repeat;
  display: block;
  height: 341px;
  width: 341px;
}
/* line 718, ../sass/screen.scss */
article#pixel_sense aside div#surface {
  background: url("../img/pixel_sense/_pixelsense_table.png") center center no-repeat;
  width: 628px;
  height: 428px;
  display: inline-block;
}
/* line 723, ../sass/screen.scss */
article#pixel_sense aside div#surface div#text {
  background: url("../img/pixel_sense/_pixelsense_fleche.png") center center no-repeat;
  width: 201px;
  height: 104px;
  left: 210px;
  position: relative;
  top: 160px;
}
/* line 732, ../sass/screen.scss */
article#pixel_sense aside div#surface div.dropzone {
  height: 368px;
  left: 30px;
  position: relative;
  top: -74px;
  width: 568px;
}
/* line 739, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description {
  position: relative;
  left: 205px;
  position: relative;
  top: -410px;
  width: 390px;
  height: 330px;
  overflow: hidden;
}
/* line 747, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
}
/* line 756, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div#crayon {
  left: 20%;
  position: relative;
  top: 35%;
}
/* line 761, ../sass/screen.scss */
article#pixel_sense aside div#surface div.description div.active {
  opacity: 1;
  height: auto;
}
/* line 770, ../sass/screen.scss */
article#pixel_sense aside div#objets {
  width: 25%;
  float: right;
}
/* line 774, ../sass/screen.scss */
article#pixel_sense aside div#objets ul {
  list-style-type: none;
}
/* line 778, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag {
  z-index: 110;
  position: absolute;
}
/* line 783, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag:hover {
  cursor: move;
}
/* line 787, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li div.drag.dropped:hover {
  cursor: default;
}
/* line 791, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon {
  width: 21px;
  height: 143px;
  margin-left: 49px;
}
/* line 795, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon img {
  transform: rotate(310deg);
}
/* line 799, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#crayon div.dropped img {
  transform: none;
}
/* line 805, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card {
  width: 69px;
  height: 112px;
  margin-left: 200px;
  margin-top: -28px;
}
/* line 810, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card img {
  transform: rotate(20deg);
}
/* line 814, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#card div.dropped img {
  transform: none;
}
/* line 821, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable {
  width: 87px;
  height: 156px;
  margin-left: 21px;
  margin-top: -39px;
}
/* line 826, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable img {
  transform: rotate(350deg);
}
/* line 830, ../sass/screen.scss */
article#pixel_sense aside div#objets ul li#portable div.dropped img {
  transform: none;
}

/* **** EDITIONS VOLUMIQUES **** */
/* line 842, ../sass/screen.scss */
article#editions_volumiques {
  z-index: 998px;
  background-position: fixed;
}
/* line 846, ../sass/screen.scss */
article#editions_volumiques div#nouveauxjeux {
  margin-top: 90px;
}
/* line 848, ../sass/screen.scss */
article#editions_volumiques div#nouveauxjeux aside {
  width: 41%;
}
/* line 853, ../sass/screen.scss */
article#editions_volumiques div#linecut {
  background-color: #e64552;
}
/* line 857, ../sass/screen.scss */
article#editions_volumiques header {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 30px;
}
/* line 862, ../sass/screen.scss */
article#editions_volumiques header h1, article#editions_volumiques header h2, article#editions_volumiques header h3 {
  color: #e64552;
}
/* line 867, ../sass/screen.scss */
article#editions_volumiques header h1 {
  font-size: 4.35em;
  color: #e64552;
  margin: 20px 0;
  display: inline-block;
}
/* line 874, ../sass/screen.scss */
article#editions_volumiques header span {
  font-size: 1.35em;
  color: black;
  font-weight: 700;
  color: black;
}
/* line 881, ../sass/screen.scss */
article#editions_volumiques header span.baseline {
  display: inline-block;
}
/* line 885, ../sass/screen.scss */
article#editions_volumiques p {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.6em;
  width: 40%;
  text-justify: newspaper;
}
/* line 892, ../sass/screen.scss */
article#editions_volumiques span.title {
  color: black;
  display: block;
  font-size: 1.65em;
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 901, ../sass/screen.scss */
article#editions_volumiques p.heading {
  font-size: 1em;
  width: 65%;
  font-weight: 700;
  font-style: italic;
}
/* line 908, ../sass/screen.scss */
article#editions_volumiques aside {
  float: right;
}
/* line 911, ../sass/screen.scss */
article#editions_volumiques aside p {
  width: 80%;
}
/* line 917, ../sass/screen.scss */
article#editions_volumiques aside div.animation #livre {
  z-index: 89;
  position: relative;
}
/* line 922, ../sass/screen.scss */
article#editions_volumiques aside div.animation #fleches {
  z-index: 90;
  margin-left: -155px;
  animation: rotate 6s infinite linear;
  -webkit-animation: rotate 6s infinite linear;
  -moz-animation: rotate 6s infinite linear;
  position: relative;
}
/* line 931, ../sass/screen.scss */
article#editions_volumiques aside div.animation #ipad {
  z-index: 91;
  margin-left: -40px;
  position: relative;
}
/* line 940, ../sass/screen.scss */
article#editions_volumiques div.content#realisations p.center {
  width: 200%;
  margin: 0;
}
/* line 943, ../sass/screen.scss */
article#editions_volumiques div.content#realisations p.center span {
  margin-left: 16px;
  width: 100%;
}
/* line 948, ../sass/screen.scss */
article#editions_volumiques div.content#realisations aside {
  margin-top: 50px;
}
/* line 952, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div#fleche_pointille {
  background: url("../img/editions_volumiques/_realisation_fleche_pointilles.png") center center no-repeat;
  width: 323px;
  height: 124px;
  left: 154px;
  position: relative;
  top: 270px;
}
/* line 961, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions {
  width: 54%;
  float: left;
}
/* line 965, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li {
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px 0 100px;
}
/* line 970, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag {
  z-index: 110;
  position: absolute;
}
/* line 974, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag:hover {
  cursor: move;
}
/* line 977, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.drag.dropped:hover {
  cursor: default;
}
/* line 980, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description {
  margin-top: 30px;
  margin-left: 200px;
}
/* line 983, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description span.title {
  font-size: 1em;
  letter-spacing: 0;
  padding-bottom: 0;
}
/* line 988, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li div.description p {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
/* line 996, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion1 {
  height: 145px;
  background-image: url("../img/editions_volumiques/_realisation_pion1_trou.png");
}
/* line 1001, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion2 {
  height: 155px;
  background-image: url("../img/editions_volumiques/_realisation_pion2_trou.png");
}
/* line 1004, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion2 div#pointilles {
  background: url("../img/editions_volumiques/_realisation_contours_pointilles.png") center center no-repeat;
  width: 125px;
  height: 166px;
  display: block;
  position: absolute;
  margin: -7px 0 0 -7px;
}
/* line 1014, ../sass/screen.scss */
article#editions_volumiques div.content#realisations ul#pions li#pion3 {
  height: 114px;
  background-image: url("../img/editions_volumiques/_realisation_pion3_trou.png");
}
/* line 1019, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation {
  width: 40%;
  display: inline-block;
}
/* line 1023, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad {
  background: url("../img/editions_volumiques/_realisation_ipad.png") no-repeat center center;
  width: 438px;
  height: 639px;
  z-index: 100;
  position: relative;
}
/* line 1030, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div#dropzone {
  width: 377px;
  height: 250px;
  position: relative;
  top: 50px;
  left: 30px;
}
/* line 1038, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description {
  top: 250px;
  position: relative;
  overflow: hidden;
}
/* line 1042, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description span.title {
  font-size: 1.3em;
  color: #e64552;
  margin-left: 40%;
  width: 130px;
}
/* line 1049, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description p {
  font-size: 1em;
  margin-left: 10%;
  text-align: center;
}
/* line 1055, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
}
/* line 1063, ../sass/screen.scss */
article#editions_volumiques div.content#realisations div.animation div#ipad div.description div.active {
  opacity: 1;
  height: auto;
}

/* **** COMMERCIALISATION **** */
/* line 1075, ../sass/screen.scss */
article#commercialisation header h3 {
  color: #e64552;
}
/* line 1079, ../sass/screen.scss */
article#commercialisation p.left {
  width: 35%;
  margin-top: 60px;
}
/* line 1084, ../sass/screen.scss */
article#commercialisation p.right {
  width: 30%;
}
/* line 1089, ../sass/screen.scss */
article#commercialisation p span.title {
  font-size: 1.3em;
}
/* line 1093, ../sass/screen.scss */
article#commercialisation p a.small {
  font-size: 0.85em;
}
/* line 1099, ../sass/screen.scss */
article#commercialisation aside img#cache {
  z-index: 120;
  left: -30px;
  position: relative;
  top: 30px;
}
/* line 1105, ../sass/screen.scss */
article#commercialisation aside div#epawn_shadow {
  width: 504px;
  height: 50px;
  background-image: url("../img/commercialisation/_epawn_shadow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 1112, ../sass/screen.scss */
article#commercialisation aside div.animation {
  background-image: url("../img/commercialisation/_epawn_bleu.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 495px;
  height: 311px;
}
/* line 1119, ../sass/screen.scss */
article#commercialisation aside div.animation div {
  width: 53px;
  height: 90px;
  left: 437px;
  position: relative;
  top: 148px;
}
/* line 1126, ../sass/screen.scss */
article#commercialisation aside div.animation div:hover {
  cursor: pointer;
}

/* **** LES ENJEUX **** */
/* line 1136, ../sass/screen.scss */
article#enjeux header div.time_bubble {
  background-image: url("../img/enjeux.png");
}
/* line 1141, ../sass/screen.scss */
article#enjeux header h3 {
  color: #e64552;
}
/* line 1144, ../sass/screen.scss */
article#enjeux header span.baseline {
  display: block;
}
/* line 1149, ../sass/screen.scss */
article#enjeux blockquote {
  color: #e64552;
  width: 650px;
  padding: 0 18%;
  line-height: 1.2em;
  font-size: 2em;
}
/* line 1156, ../sass/screen.scss */
article#enjeux blockquote span.author {
  display: block;
  margin-top: 10px;
  font-size: 0.5em;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.03em;
  text-align: right;
  color: #8d8a82;
}
/* line 1163, ../sass/screen.scss */
article#enjeux blockquote span.author strong {
  font-style: normal;
  font-weight: 700;
  color: #181818;
}
/* line 1171, ../sass/screen.scss */
article#enjeux blockquote:after {
  left: 280px;
  top: -30px;
}
/* line 1176, ../sass/screen.scss */
article#enjeux blockquote:before {
  left: -350px;
}
/* line 1180, ../sass/screen.scss */
article#enjeux p.left {
  width: 30%;
  margin-top: 60px;
}
/* line 1185, ../sass/screen.scss */
article#enjeux p.right {
  width: 40%;
  margin-top: 40px;
}
/* line 1190, ../sass/screen.scss */
article#enjeux p.heading {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 50px;
}
/* line 1196, ../sass/screen.scss */
article#enjeux p span.title {
  font-size: 1.3em;
}
/* line 1200, ../sass/screen.scss */
article#enjeux p a.small {
  font-size: 0.85em;
}
/* line 1205, ../sass/screen.scss */
article#enjeux aside.left {
  width: 470px;
  height: 400px;
  margin-left: 50px;
}
/* line 1210, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette {
  width: 245px;
  height: 346px;
  background: url("../img/enjeux_educ/_enjeuxeduc_ipad.png") center center no-repeat;
  display: inline-block;
}
/* line 1216, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description {
  overflow: hidden;
  width: 245px;
  height: 270px;
}
/* line 1220, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div {
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  height: 0;
  opacity: 0;
}
/* line 1229, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div.active {
  opacity: 1;
  height: auto;
}
/* line 1233, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#mini_lapin {
  margin-left: 100px;
  margin-top: 30px;
}
/* line 1238, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#illu_lapin {
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* line 1244, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#mini_renard {
  margin-left: 100px;
  margin-top: 0;
}
/* line 1249, ../sass/screen.scss */
article#enjeux aside.left div.animation div#tablette div.description div#illu_renard {
  margin-left: 40px;
  margin-top: -10px;
}
/* line 1256, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces {
  vertical-align: top;
  display: inline-block;
  list-style-type: none;
  margin-left: 50px;
}
/* line 1262, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li {
  margin-bottom: 30px;
}
/* line 1264, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li img {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  opacity: 1;
}
/* line 1270, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li img.desactivate {
  opacity: 0;
}
/* line 1275, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li:hover {
  cursor: pointer;
}
/* line 1279, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li#lapin {
  width: 88px;
  height: 136px;
  background: url("../img/enjeux_educ/_enjeuxeduc_trou_lapin.png") center center no-repeat;
}
/* line 1285, ../sass/screen.scss */
article#enjeux aside.left div.animation ul#pieces li#renard {
  width: 94px;
  height: 126px;
  background: url("../img/enjeux_educ/_enjeuxeduc_trou_renard.png") center center no-repeat;
}
/* line 1294, ../sass/screen.scss */
article#enjeux aside.right {
  width: 60%;
}
/* line 1297, ../sass/screen.scss */
article#enjeux aside.right div.animation div {
  display: inline-block;
  float: left;
}
/* line 1301, ../sass/screen.scss */
article#enjeux aside.right div.animation div#table {
  background: url("../img/enjeux_pro/_enjeuxpro_table.png") center center no-repeat;
  height: 251px;
  width: 338px;
}
/* line 1306, ../sass/screen.scss */
article#enjeux aside.right div.animation div#main {
  background: url("../img/enjeux_pro/_enjeuxpro_main.png") no-repeat scroll center center transparent;
  height: 136px;
  left: 170px;
  position: relative;
  top: -190px;
  width: 405px;
  z-index: 101;
}
/* line 1315, ../sass/screen.scss */
article#enjeux aside.right div.animation div#cache {
  background: url("../img/enjeux_pro/_enjeuxpro_cache.png") no-repeat scroll center center transparent;
  height: 230px;
  left: 120px;
  position: relative;
  top: -220px;
  width: 81px;
  z-index: 102;
}

/* **** DEMAIN **** */
/* line 1330, ../sass/screen.scss */
article#demain header {
  margin: 20px 21%;
}
/* line 1332, ../sass/screen.scss */
article#demain header h1, article#demain header h2, article#demain header h3 {
  color: #42c1c7;
}
/* line 1335, ../sass/screen.scss */
article#demain header h1 {
  text-align: center;
  line-height: 1.3em;
}
/* line 1340, ../sass/screen.scss */
article#demain header h2 {
  text-align: center;
  line-height: 1.3em;
  width: 120%;
}
/* line 1346, ../sass/screen.scss */
article#demain header span.baseline {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 670px;
  margin: 0;
  color: #8d8a82;
}
/* line 1357, ../sass/screen.scss */
article#demain a.small {
  font-size: 0.85em;
}
/* line 1360, ../sass/screen.scss */
article#demain a.small:before {
  background-image: url("../img/link_blue.png");
}
/* line 1363, ../sass/screen.scss */
article#demain div#linecut {
  margin: 40px 49%;
  background-color: #42c1c7;
}
/* line 1368, ../sass/screen.scss */
article#demain p.heading {
  display: inline-block;
  margin-left: 40px;
  margin-top: 50px;
  width: 36%;
}
/* line 1373, ../sass/screen.scss */
article#demain p.heading a {
  font-size: 0.85em;
}
/* line 1378, ../sass/screen.scss */
article#demain aside {
  width: 50%;
}
/* line 1384, ../sass/screen.scss */
article#demain aside.left {
  width: 424px;
  height: 409px;
  background: url("../img/futur/bacasable.png") center center no-repeat;
  margin-left: 70px;
}
/* line 1391, ../sass/screen.scss */
article#demain div#kinect {
  width: 278px;
  height: 58px;
  background: url("../img/futur/kinect.png") center center no-repeat;
  left: 140px;
  position: relative;
  top: -84px;
}
/* line 1400, ../sass/screen.scss */
article#demain p.right {
  width: 40%;
  margin-top: 70px;
}
/* line 1405, ../sass/screen.scss */
article#demain p#organic {
  margin-top: -40px;
}
/* line 1409, ../sass/screen.scss */
article#demain p#natural {
  width: 40%;
}
/* line 1413, ../sass/screen.scss */
article#demain blockquote {
  color: #42c1c7;
  width: 410px;
  padding: 0;
  line-height: 1.2em;
  font-size: 2em;
  display: inline-block;
  margin-top: -40px;
}
/* line 1422, ../sass/screen.scss */
article#demain blockquote span.author {
  display: block;
  margin-top: 60px;
  font-size: 0.5em;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
  color: #8d8a82;
}
/* line 1429, ../sass/screen.scss */
article#demain blockquote span.author strong {
  font-style: normal;
  font-weight: 700;
  color: #181818;
}
/* line 1437, ../sass/screen.scss */
article#demain blockquote:after {
  color: #181818;
  left: -10px;
  top: -40px;
}
/* line 1443, ../sass/screen.scss */
article#demain blockquote:before {
  color: #181818;
  left: -350px;
  left: 0;
  top: 20px;
}

/* Animations */
/* Levitate */
@keyframes levitate {
  /* line 1454, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 1457, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@-webkit-keyframes levitate {
  /* line 1463, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 1466, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

@-moz-keyframes levitate {
  /* line 1472, ../sass/screen.scss */
  from {
    margin-top: 80px;
  }

  /* line 1475, ../sass/screen.scss */
  to {
    margin-top: 50px;
  }
}

/* Rotate */
@keyframes rotate {
  /* line 1482, ../sass/screen.scss */
  from {
    transform: rotate(359deg);
  }

  /* line 1485, ../sass/screen.scss */
  to {
    transform: rotate(0);
  }
}

@-webkit-keyframes rotate {
  /* line 1491, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(359deg);
  }

  /* line 1494, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(0);
  }
}

@-moz-keyframes rotate {
  /* line 1500, ../sass/screen.scss */
  from {
    -moz-transform: rotate(359deg);
  }

  /* line 1503, ../sass/screen.scss */
  to {
    -moz-transform: rotate(0);
  }
}

/* Hiroshii */
@keyframes hiroshii {
  /* line 1510, ../sass/screen.scss */
  from {
    transform: rotate(-10deg);
  }

  /* line 1513, ../sass/screen.scss */
  to {
    transform: rotate(10deg);
  }
}

@-webkit-keyframes hiroshii {
  /* line 1519, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(-10deg);
  }

  /* line 1522, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(10deg);
  }
}

@-moz-keyframes hiroshii {
  /* line 1528, ../sass/screen.scss */
  from {
    -moz-transform: rotate(-10deg);
  }

  /* line 1531, ../sass/screen.scss */
  to {
    -moz-transform: rotate(10deg);
  }
}
